/* line 5, ../sass/changeShop.scss */
.change-shop {
  background-color: whitesmoke;
}
/* line 7, ../sass/changeShop.scss */
.change-shop.layout-page.both-layout-page {
  padding-bottom: 0px;
  padding-top: 1.2rem;
}
/* line 13, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name {
  padding-top: 0.26667rem;
  padding-bottom: 0.26667rem;
  padding-left: 0.53333rem;
  padding-right: 0.53333rem;
  background-color: white;
  color: #666666;
  font-size: 13px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-glob .change-shop-current-name {
  font-size: 26px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-glob .change-shop-current-name {
  font-size: 39px;
}
/* line 21, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name .earby-shop-current-name-icoin {
  margin-right: 0.26667rem;
  color: #666666;
}
/* line 25, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name .-col-content {
  color: #999999;
  font-size: 15px;
  font-weight: bold;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-glob .change-shop-current-name .-col-content {
  font-size: 30px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-glob .change-shop-current-name .-col-content {
  font-size: 45px;
}
/* line 30, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name .change-shop-current-toggle {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  padding: 0.16rem 0.26667rem;
  background-color: #ff317a;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-glob .change-shop-current-name .change-shop-current-toggle {
  font-size: 26px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-glob .change-shop-current-name .change-shop-current-toggle {
  font-size: 39px;
}
/* line 39, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name.active .earby-shop-current-name-icoin {
  color: #ff317a;
}
/* line 42, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name.active .earby-shop-current-name-content {
  color: #333333;
}
/* line 47, ../sass/changeShop.scss */
.change-shop .change-shop-glob .change-shop-current-name.none .-col-content {
  color: #999999;
}
/* line 56, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info {
  padding-top: 0.34667rem;
  padding-bottom: 0.29333rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0.02667rem 0.10667rem -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.02667rem 0.10667rem -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.02667rem 0.10667rem -1px rgba(0, 0, 0, 0.1);
}
/* line 61, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-chec {
  margin-top: 0.26667rem;
  margin-left: 0.26667rem;
  margin-right: 0.26667rem;
  font-size: 15px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-chec {
  font-size: 30px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-chec {
  font-size: 45px;
}
/* line 68, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-title {
  font-size: 14px;
  color: #333333;
  font-family: PingFang-SC-Medium;
  margin-bottom: 0.24rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-title {
  font-size: 28px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-title {
  font-size: 42px;
}
/* line 74, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-content {
  font-size: 12px;
  color: #666666;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-content {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-content {
  font-size: 36px;
}
/* line 77, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-content .change-shop-item-content-content .change-shop-item-content-address {
  margin-bottom: 0.16rem;
}
/* line 85, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .-col-right {
  padding-top: 0.44rem;
}
/* line 89, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav {
  border-left-color: #e1e1e1;
  border-left-width: 1px;
  border-left-style: solid;
  margin-right: 0.26667rem;
  padding-left: 0.26667rem;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav {
  border-left-width: 2px;
}
/* line 93, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-icon {
  font-size: 14px;
  color: #666666;
  margin-top: -0.05333rem;
  margin-bottom: 0.16rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-icon {
  font-size: 28px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-icon {
  font-size: 42px;
}
/* line 98, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-icon .iconfont-location-arrow {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 102, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-space {
  margin-bottom: -0.05333rem;
  font-size: 10px;
  color: #666666;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-space {
  font-size: 20px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-space {
  font-size: 30px;
}
/* line 106, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-info .change-shop-item-nav .change-shop-item-nav-space .change-shop-item-nav-space-unit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 112, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info {
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: whitesmoke;
}
/* line 116, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-label {
  padding-left: 0.93333rem;
  padding-right: 0.8rem;
  font-size: 12px;
  color: #333333;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-label {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-label {
  font-size: 36px;
}
/* line 122, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-time {
  font-size: 12px;
  color: #999999;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-time {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-time {
  font-size: 36px;
}
/* line 126, ../sass/changeShop.scss */
.change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-do {
  font-size: 12px;
  color: #999999;
  padding-right: 0.26667rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-do {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-list .change-shop-item .change-shop-item-pickup-info .change-shop-item-pickup-info-do {
  font-size: 36px;
}
/* line 135, ../sass/changeShop.scss */
.change-shop .bottom-nav {
  border-width: 0 !important;
  height: inherit !important;
}
/* line 139, ../sass/changeShop.scss */
.change-shop .change-shop-edit-sure {
  font-size: 18px;
  height: 1.28rem;
  line-height: 1.25333rem;
  padding: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .change-shop .change-shop-edit-sure {
  font-size: 36px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .change-shop .change-shop-edit-sure {
  font-size: 54px;
}
