/* line 4, ../sass/city-select.scss */
.city-select-glob {
  font-size: 1.16667em;
}
/* line 6, ../sass/city-select.scss */
.city-select-glob .city-select-glob-header {
  padding-left: 0.4rem;
  height: 0.93333rem;
  line-height: 0.93333rem;
  background-color: #ebebeb;
}
/* line 11, ../sass/city-select.scss */
.city-select-glob .city-select-glob-main {
  padding: 0.4rem;
  background-color: whitesmoke;
}

/* line 17, ../sass/city-select.scss */
.city-select .title-label {
  color: #ff317a;
}
/* line 19, ../sass/city-select.scss */
.city-select .title-label:not(:empty)::before {
  content: '-';
}
/* line 24, ../sass/city-select.scss */
.city-select .city-select-search {
  background-color: #333a49;
  padding: 0.26667rem;
  font-size: 1.08333em;
}
/* line 28, ../sass/city-select.scss */
.city-select .city-select-search .search-group {
  height: 0.8rem;
  line-height: 0.8rem;
}
/* line 35, ../sass/city-select.scss */
.city-select .city-select-current .city-select-glob-main {
  padding-right: 0.8rem;
}
/* line 39, ../sass/city-select.scss */
.city-select .city-select-current .current-address .-col-key {
  width: 1em;
}
/* line 42, ../sass/city-select.scss */
.city-select .city-select-current .current-address .-col-value {
  margin-left: 1.71429em;
}
/* line 47, ../sass/city-select.scss */
.city-select .city-select-current-info {
  padding: 0.26667rem 0.53333rem;
  background-color: #fff;
  color: #666;
  border: 1px solid #e1e1e1;
}
/* line 52, ../sass/city-select.scss */
.city-select .city-select-current-info .iconfont {
  margin-right: 0.26667rem;
}
/* line 56, ../sass/city-select.scss */
.city-select .city-select-current-info.act .iconfont {
  color: #ff317a;
}
/* line 59, ../sass/city-select.scss */
.city-select .city-select-current-info.act .-col-value {
  color: #333;
}
/* line 66, ../sass/city-select.scss */
.city-select .city-select-history .city-select-glob-main {
  padding: 0.2rem;
}
/* line 69, ../sass/city-select.scss */
.city-select .city-select-history .history-list {
  overflow: hidden;
}
/* line 72, ../sass/city-select.scss */
.city-select .city-select-history .history-item {
  float: left;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 2.66667rem;
  height: 0.93333rem;
  line-height: 0.93333rem;
  margin: 0.2rem;
  border-radius: 0.05333rem;
  background-color: white;
  border: 1px solid #e1e1e1;
  text-align: center;
}
/* line 82, ../sass/city-select.scss */
.city-select .city-select-history .history-item.act {
  color: #FF317A;
  border-color: currentColor;
}
/* line 91, ../sass/city-select.scss */
.city-select .city-select-list .city-select-glob-main {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 95, ../sass/city-select.scss */
.city-select .city-select-list .city-select-unit {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  border-bottom: 1px solid #e1e1e1;
}
/* line 99, ../sass/city-select.scss */
.city-select .city-select-list .city-select-unit:last-child {
  border-bottom-width: 0;
}
