/* line 6, ../sass/comment-good.scss */
.comment-good.layout-page.top-layout-page {
  padding-top: 2.53333rem;
}
/* line 9, ../sass/comment-good.scss */
.comment-good .layout-nav {
  height: 1.33333rem;
}
/* line 13, ../sass/comment-good.scss */
.comment-good .comment-good-category-list {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 1.2rem;
  width: 10rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: white;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-category-list {
  border-width: 2px;
}
/* line 22, ../sass/comment-good.scss */
.comment-good .comment-good-category-list .comment-good-category-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin-top: 0.30667rem;
  margin-bottom: 0.22667rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 0.22667rem;
  margin-right: 0.22667rem;
  font-size: 15px;
  color: #333333;
}
/* line 28, ../sass/comment-good.scss */
.comment-good .comment-good-category-list .comment-good-category-item.active {
  border-bottom-color: #ff317a;
  border-bottom-width: 2.5px;
  border-bottom-style: solid;
  margin-bottom: 0.01333rem;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-category-list .comment-good-category-item.active {
  border-bottom-width: 3.5px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-category-list .comment-good-category-item {
  font-size: 30px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-category-list .comment-good-category-item {
  font-size: 45px;
}
/* line 43, ../sass/comment-good.scss */
.comment-good .comment-good-category-list .comment-good-category-item .comment-good-category-group .comment-good-category-item-num {
  margin-top: 0.13333rem;
  font-size: 12px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-category-list .comment-good-category-item .comment-good-category-group .comment-good-category-item-num {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-category-list .comment-good-category-item .comment-good-category-group .comment-good-category-item-num {
  font-size: 36px;
}
/* line 51, ../sass/comment-good.scss */
.comment-good .comment-good-tips {
  padding: 0.2rem 0.33333rem;
}
/* line 53, ../sass/comment-good.scss */
.comment-good .comment-good-tips .comment-good-tips-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0.12rem 0.26667rem;
  margin: 0.06667rem;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 0.32rem;
  color: #666666;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-tips .comment-good-tips-item {
  border-width: 2px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-tips .comment-good-tips-item {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-tips .comment-good-tips-item {
  font-size: 36px;
}
/* line 62, ../sass/comment-good.scss */
.comment-good .comment-good-tips .comment-good-tips-item.active {
  border-color: #fabd3d;
  color: #fabd3d;
}
/* line 72, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  padding-top: 0.4rem;
}
/* line 76, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title .flex-row-between > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 79, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title .comment-good-comment-title-img {
  width: 0.86667rem;
  height: 0.86667rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 84, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title .comment-good-comment-title-img img {
  width: 0.86667rem;
  height: 0.86667rem;
}
/* line 89, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title .-col-content {
  padding-left: 0.4rem;
  font-size: 12px;
  color: #333333;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title .-col-content {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-title .-col-content {
  font-size: 36px;
}
/* line 95, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-content {
  font-size: 12px;
  color: #333333;
  padding: 0.53333rem 0.13333rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-content {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-content {
  font-size: 36px;
}
/* line 101, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-images img {
  width: 1.48rem;
  height: 1.48rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0.12rem;
}
/* line 109, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom {
  line-height: 0.56rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  padding-bottom: 0.48rem;
}
/* line 115, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 118, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-left {
  line-height: 0.32rem;
  height: 0.56rem;
  font-size: 10px;
  color: #999999;
  padding-top: 0.24rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-left {
  font-size: 20px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-left {
  font-size: 30px;
}
/* line 125, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right {
  float: right;
  margin-right: 0.13333rem;
}
/* line 128, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 21px;
  color: #999999;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right > div {
  font-size: 42px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right > div {
  font-size: 63px;
}
/* line 133, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right > div > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  left: 0.56rem;
  top: 0.49333rem;
}
/* line 140, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg {
  position: relative;
  margin-right: 0.8rem;
}
/* line 143, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .iconfont-comment {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 146, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .iconfont-comment-solid {
  display: none;
}
/* line 149, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg.active {
  color: #ff317a;
}
/* line 151, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg.active .iconfont-comment-solid {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 154, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg.active .iconfont-comment {
  display: none;
}
/* line 158, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .comment-good-comment-bottom-msg-triangle {
  position: absolute;
  top: 0.92rem;
  left: 0.06667rem;
  width: 0.26667rem;
  height: 0.26667rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-left-color: #e1e1e1;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-color: #e1e1e1;
  border-top-width: 1px;
  border-top-style: solid;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: whitesmoke;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .comment-good-comment-bottom-msg-triangle {
  border-left-width: 2px;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .comment-good-comment-bottom-msg-triangle {
  border-top-width: 2px;
}
/* line 170, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .comment-good-comment-bottom-msg-num {
  font-size: 9px;
  line-height: 0.24rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .comment-good-comment-bottom-msg-num {
  font-size: 18px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-msg .comment-good-comment-bottom-msg-num {
  font-size: 27px;
}
/* line 176, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .iconfont-heart {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 179, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .iconfont-heart-solid {
  display: none;
}
/* line 182, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .iconfont-heart {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 185, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .iconfont-heart-solid {
  display: none;
}
/* line 188, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .iconfont-heartbreak {
  display: none;
}
/* line 191, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp.active {
  color: #ff317a;
}
/* line 193, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp.active .iconfont-heart-solid {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 196, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp.active .iconfont-heart {
  display: none;
}
/* line 200, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp.break {
  color: #ff317a;
}
/* line 202, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp.break .iconfont-heartbreak {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 205, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp.break .iconfont-heart {
  display: none;
}
/* line 209, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .comment-good-comment-bottom-storeUp-num {
  font-size: 9px;
  line-height: 0.24rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .comment-good-comment-bottom-storeUp-num {
  font-size: 18px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-bottom .comment-good-comment-bottom-right .comment-good-comment-bottom-storeUp .comment-good-comment-bottom-storeUp-num {
  font-size: 27px;
}
/* line 218, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group {
  width: 9.73333rem;
  padding-top: 0.25333rem;
  padding-bottom: 0.25333rem;
  padding-left: 0.41333rem;
  position: relative;
  background-color: whitesmoke;
}
/* line 225, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
}
/* line 229, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group .comment-good-comment-reply-reply-input {
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  width: 7.45333rem;
  height: 0.70667rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.21333rem 0.26667rem;
  color: #999999;
  background-color: white;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group .comment-good-comment-reply-reply-input {
  border-width: 2px;
}
/* line 238, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group .comment-good-comment-reply-reply-btn {
  width: 1.34667rem;
  height: 0.70667rem;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.2rem 0;
  text-align: center;
  background-color: #ff317a;
  font-size: 12px;
  color: white;
  margin-left: 0.12rem;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group .comment-good-comment-reply-reply-btn {
  border-width: 2px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group .comment-good-comment-reply-reply-btn {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-btn-group .comment-good-comment-reply-reply-btn {
  font-size: 36px;
}
/* line 252, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list {
  background-color: whitesmoke;
}
/* line 255, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply {
  font-size: 11px;
  color: #333333;
  overflow-x: hidden;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply {
  font-size: 22px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply {
  font-size: 33px;
}
/* line 260, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment {
  width: 19.52rem;
  border-top-color: #e1e1e1;
  border-top-width: 1px;
  border-top-style: solid;
  -moz-transition: margin-left 1s ease-in 0.1s;
  -o-transition: margin-left 1s ease-in 0.1s;
  -webkit-transition: margin-left 1s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: margin-left 1s ease-in 0.1s;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment {
  border-top-width: 2px;
}
/* line 264, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment.comment-good-comment-reply-comment-reply-active {
  margin-left: -9.70667rem;
}
/* line 267, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
}
/* line 271, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group {
  width: 9.73333rem;
}
/* line 273, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 276, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group .comment-good-comment-reply-comment-content {
  padding-top: 0.46667rem;
  padding-bottom: 0.4rem;
  padding-left: 0.61333rem;
  padding-right: 0.61333rem;
  width: 7.17333rem;
  vertical-align: top;
}
/* line 283, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group .comment-good-comment-reply-comment-content > span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 290, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group .comment-good-comment-reply-comment-content .comment-good-comment-reply-comment-content-value {
  width: 4.74667rem;
}
/* line 294, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group .comment-good-comment-reply-comment-btn {
  width: 0.93333rem;
  padding-top: 0.06667rem;
  padding-bottom: 0.05333rem;
  -moz-border-radius: 25%;
  -webkit-border-radius: 25%;
  border-radius: 25%;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  margin-top: 0.38667rem;
  margin-bottom: 0.41333rem;
  margin-left: 0.73333rem;
  margin-right: 0.28rem;
  text-align: center;
  background-color: whitesmoke;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-text-group .comment-good-comment-reply-comment-btn {
  border-width: 2px;
}
/* line 308, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group {
  width: 9.73333rem;
  padding-top: 0.25333rem;
  padding-bottom: 0.25333rem;
  padding-left: 0.41333rem;
}
/* line 314, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
}
/* line 318, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group .comment-good-comment-reply-comment-reply-input {
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  width: 7.45333rem;
  height: 0.70667rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.21333rem 0.26667rem;
  color: #999999;
  background-color: white;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group .comment-good-comment-reply-comment-reply-input {
  border-width: 2px;
}
/* line 327, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group .comment-good-comment-reply-comment-reply-btn {
  width: 1.34667rem;
  height: 0.70667rem;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.2rem 0;
  text-align: center;
  background-color: #ff317a;
  font-size: 12px;
  color: white;
  margin-left: 0.12rem;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group .comment-good-comment-reply-comment-reply-btn {
  border-width: 2px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group .comment-good-comment-reply-comment-reply-btn {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-comment-btn-group .comment-good-comment-reply-comment-reply-btn {
  font-size: 36px;
}
/* line 341, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-item {
  padding-top: 0.38667rem;
  padding-bottom: 0.49333rem;
  margin-left: 0.61333rem;
  padding-right: 0.61333rem;
  width: 9.12rem;
  border-top-color: #e1e1e1;
  border-top-width: 1px;
  border-top-style: solid;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-item {
  border-top-width: 2px;
}
/* line 348, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-item > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 351, ../sass/comment-good.scss */
.comment-good .comment-good-comment-list .comment-good-comment-item .comment-good-comment-reply-list .comment-good-comment-reply .comment-good-comment-reply-comment .comment-good-comment-reply-item .comment-good-comment-reply-item-label {
  color: #ff317a;
}
