/* line 7, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob {
  padding: 0.26667rem 0.53333rem;
  font-size: 1.084em;
}
/* line 10, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob .iconfont-map-position {
  font-size: 1.1em;
  margin-right: 0.53333rem;
  color: #666;
}
/* line 15, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob .-col-content {
  font-size: 1.154em;
  font-weight: bold;
  margin-right: 0.13333rem;
}
/* line 20, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob .btn-toggle {
  padding-top: .425em;
  padding-bottom: .425em;
}
/* line 25, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob.act .iconfont-map-position {
  color: #ff317a;
}
/* line 28, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob.act .-col-content {
  color: #333;
}
/* line 32, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob.empty {
  color: #999;
}
/* line 34, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-glob.empty .iconfont-map-position {
  color: inherit;
}
/* line 42, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item > div {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
/* line 45, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .-col-left {
  margin: 0.13333rem;
}
/* line 48, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .-col-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0.13333rem;
  padding: 0.13333rem;
}
/* line 53, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .-col-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 1.49333rem;
}
/* line 57, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-img {
  width: 2.4rem;
  height: 2.4rem;
}
/* line 61, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-name {
  font-size: 1.1667em;
  font-weight: bold;
}
/* line 66, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-shop-time > span {
  vertical-align: middle;
}
/* line 69, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-shop-time .label {
  padding: 2px .33em;
  border-radius: 0.06667rem;
}
/* line 73, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-shop-time .nearby-shop-item-time-range {
  margin-left: 0.13333rem;
}
/* line 77, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-address {
  width: 5.04rem;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 82, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-nav {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0.46667rem 0;
  border-left: 1px solid #e1e1e1;
  color: #666;
}
/* line 88, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-nav .iconfont {
  font-size: 1.5em;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 92, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-list .nearby-shop-item .nearby-shop-item-nav .nearby-shop-item-nav-space {
  font-size: .916em;
}
/* line 98, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-empty {
  margin-top: 2.73333rem;
}
/* line 5, ../../../sass/oecstore/mixins/_empty-style.scss */
.nearby-shop .nearby-shop-empty .empty-info::before {
  height: 3.26667rem;
  background: url("../../../images/source/near-stores-and-details/nearby-stores/nearby-stores-empty.png") no-repeat center;
  background-size: contain;
}
/* line 101, ../sass/nearbyShop.scss */
.nearby-shop .nearby-shop-empty .empty-info::before {
  margin-bottom: 0.46667rem;
}
