/* line 5, ../sass/payMentent.scss */
.payment {
  background-color: whitesmoke;
}
/* line 7, ../sass/payMentent.scss */
.payment.layout-page.both-layout-page {
  padding-bottom: 0px;
  padding-top: 1.2rem;
}
/* line 12, ../sass/payMentent.scss */
.payment .payment-will-price {
  height: 1.73333rem;
  line-height: 1.73333rem;
  padding-left: 0.4rem;
}
/* line 16, ../sass/payMentent.scss */
.payment .payment-will-price > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 19, ../sass/payMentent.scss */
.payment .payment-will-price i {
  height: 0.66667rem;
  font-size: 25px;
  color: #ef7b2e;
  margin-right: 0.46667rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-will-price i {
  font-size: 50px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-will-price i {
  font-size: 75px;
}
/* line 25, ../sass/payMentent.scss */
.payment .payment-will-price .payment-will-price-content {
  font-size: 18px;
  color: #333333;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-will-price .payment-will-price-content {
  font-size: 36px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-will-price .payment-will-price-content {
  font-size: 54px;
}
/* line 31, ../sass/payMentent.scss */
.payment .payment-method {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
/* line 34, ../sass/payMentent.scss */
.payment .payment-method .payment-method-title {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 13px;
  color: #333333;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-method .payment-method-title {
  font-size: 26px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-method .payment-method-title {
  font-size: 39px;
}
/* line 39, ../sass/payMentent.scss */
.payment .payment-method .payment-method-title i {
  font-size: 15px;
  color: #999999;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-method .payment-method-title i {
  font-size: 30px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-method .payment-method-title i {
  font-size: 45px;
}
/* line 45, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item {
  border-top-color: #e1e1e1;
  border-top-width: 1px;
  border-top-style: solid;
  height: 1.33333rem;
}
/* line 339, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-method .payment-method-list .payment-method-item {
  border-top-width: 2px;
}
/* line 48, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 54, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item .payment-method-item-img {
  margin-left: 0.4rem;
  margin-right: 0.26667rem;
}
/* line 57, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item .payment-method-item-img img {
  width: 0.8rem;
  height: 0.8rem;
}
/* line 62, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content {
  height: 1.33333rem;
}
/* line 64, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h1 {
  margin-top: 0.24rem;
  margin-bottom: 0.13333rem;
  font-size: 15px;
  color: #333333;
  line-height: 0.4rem;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h1 {
  font-size: 30px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h1 {
  font-size: 45px;
}
/* line 71, ../sass/payMentent.scss */
.payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h2 {
  font-size: 12px;
  line-height: 0.32rem;
  color: #999999;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h2 {
  font-size: 24px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h2 {
  font-size: 36px;
}
/* line 81, ../sass/payMentent.scss */
.payment .bottom-nav {
  border-width: 0 !important;
  height: inherit !important;
}
/* line 85, ../sass/payMentent.scss */
.payment .payment-edit-sure {
  font-size: 18px;
  height: 1.28rem;
  line-height: 1.25333rem;
  padding: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 103, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment .payment-edit-sure {
  font-size: 36px;
}
/* line 106, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment .payment-edit-sure {
  font-size: 54px;
}
