@charset "UTF-8";
/* ----------------------------- 订单提交 -------------------------------*/
/* line 7, ../sass/payments.scss */
.payment-method {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
/* line 10, ../sass/payments.scss */
.payment-method .payment-method-title {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 13px;
  color: #333333;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment-method .payment-method-title {
  font-size: 26px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment-method .payment-method-title {
  font-size: 39px;
}
/* line 15, ../sass/payments.scss */
.payment-method .payment-method-title i {
  font-size: 15px;
  color: #999999;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment-method .payment-method-title i {
  font-size: 30px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment-method .payment-method-title i {
  font-size: 45px;
}
/* line 21, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item {
  border-top-color: #e1e1e1;
  border-top-width: 1px;
  border-top-style: solid;
  height: 1.33333rem;
}
/* line 335, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment-method .payment-method-list .payment-method-item {
  border-top-width: 2px;
}
/* line 24, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 30, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item .payment-method-item-img {
  margin-left: 0.4rem;
  margin-right: 0.26667rem;
}
/* line 33, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item .payment-method-item-img img {
  width: 0.8rem;
  height: 0.8rem;
}
/* line 38, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item .payment-method-item-content {
  height: 1.33333rem;
}
/* line 40, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h1 {
  margin-top: 0.24rem;
  margin-bottom: 0.13333rem;
  font-size: 15px;
  color: #333333;
  line-height: 0.4rem;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h1 {
  font-size: 30px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h1 {
  font-size: 45px;
}
/* line 47, ../sass/payments.scss */
.payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h2 {
  font-size: 12px;
  line-height: 0.32rem;
  color: #999999;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h2 {
  font-size: 24px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .payment-method .payment-method-list .payment-method-item .payment-method-item-content .payment-method-item-content-h2 {
  font-size: 36px;
}

/* line 60, ../sass/payments.scss */
.payments-wrapper .payments-content {
  padding: 0 0.4rem;
}
/* line 62, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-status-row {
  position: relative;
  font-size: 0;
  padding: 0.83333rem 0;
  border-bottom: 1px solid #e1e1e1;
}
/* line 68, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-status-col {
  display: inline-block;
  font-size: 0.34667rem;
}
/* line 72, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-row {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 76, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-col {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
/* line 78, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-col:nth-child(2n) {
  text-align: right;
}
/* line 82, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-status-left {
  font-size: 1.33333rem;
}
/* line 84, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-status-left .iconfont-circle-check {
  color: #00ceb8;
}
/* line 87, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-status-left .iconfont-circle-alarm {
  color: #FF317A;
}
/* line 90, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-status-left .iconfont-circle-clock {
  color: #ef7b2e;
}
/* line 94, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-header-h2 {
  font-size: 0.48rem;
}
/* line 97, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-header-h3 {
  font-size: 0.34667rem;
  margin-top: 0.26667rem;
}
/* line 101, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-info {
  text-indent: 0.2rem;
}
/* line 104, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-way,
.payments-wrapper .payments-content .payments-money {
  padding: 0.26667rem 0;
  padding-left: 0.26667rem;
  font-size: 0.34667rem;
  line-height: 0.58667rem;
}
/* line 111, ../sass/payments.scss */
.payments-wrapper .payments-content .payments-way {
  border-top: 1px solid #e1e1e1;
}
/* line 116, ../sass/payments.scss */
.payments-wrapper .payment-method .-col-left {
  font-size: 0.34667rem;
}
/* line 119, ../sass/payments.scss */
.payments-wrapper .payment-method .payment-method-list {
  display: none;
}
/* line 121, ../sass/payments.scss */
.payments-wrapper .payment-method .payment-method-list.show-list {
  display: block;
}
/* line 126, ../sass/payments.scss */
.payments-wrapper .font-color-pink {
  color: #FF317A;
}
/* line 129, ../sass/payments.scss */
.payments-wrapper .ecommend-wrapper {
  padding-top: 1px;
}
/* line 131, ../sass/payments.scss */
.payments-wrapper .ecommend-wrapper .line-text {
  margin-bottom: 0;
}
/* line 135, ../sass/payments.scss */
.payments-wrapper .payments-btn-order {
  position: absolute;
  bottom: 0.93333rem;
  right: 0;
}
/* line 139, ../sass/payments.scss */
.payments-wrapper .payments-btn-order .btn-order-info {
  font-size: 0.32rem;
  color: #333a49;
  background-color: #FFF;
}

/* line 146, ../sass/payments.scss */
.password-dialog {
  display: none;
}
/* line 148, ../sass/payments.scss */
.password-dialog.show-dialog {
  display: block;
}
/* line 151, ../sass/payments.scss */
.password-dialog .dialog-info {
  padding: 0 0.4rem;
}
/* line 154, ../sass/payments.scss */
.password-dialog .dialog-center {
  top: 6rem;
  width: 7.2rem;
  height: inherit;
  border-radius: 0.13333rem;
  visibility: inherit;
  opacity: inherit;
}
/* line 163, ../sass/payments.scss */
.password-dialog .dialog-center.error .password-info-warp .password-info-item {
  border: 1px solid #FF317A;
  border-left: 0;
}
/* line 166, ../sass/payments.scss */
.password-dialog .dialog-center.error .password-info-warp .password-info-item:first-child {
  border-left: 1px solid #FF317A;
}
/* line 174, ../sass/payments.scss */
.password-dialog .password-dialog-header {
  padding: 0.48rem 0;
  border-bottom: 1px solid #cdcdcd;
}
/* line 177, ../sass/payments.scss */
.password-dialog .password-dialog-header p {
  font-size: 0.4rem;
  text-align: center;
}
/* line 181, ../sass/payments.scss */
.password-dialog .password-dialog-header .close {
  top: 0.32rem;
  right: 0.32rem;
  font-size: 2.5em;
}
/* line 187, ../sass/payments.scss */
.password-dialog .dialog-order-money {
  padding: 0.53333rem 0;
  font-size: 0.8rem;
  text-align: center;
}
/* line 192, ../sass/payments.scss */
.password-dialog .dialog-balance-info {
  font-size: 0.26667rem;
  line-height: 0.4rem;
}
/* line 196, ../sass/payments.scss */
.password-dialog .password-info-warp {
  margin-top: 0.26667rem;
  padding: 0 0.26667rem;
  padding-bottom: 0.53333rem;
}
/* line 200, ../sass/payments.scss */
.password-dialog .password-info-warp .password-info-list {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 204, ../sass/payments.scss */
.password-dialog .password-info-warp .password-info-item {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 1.06667rem;
  border: 1px solid #e1e1e1;
  border-left: 0;
}
/* line 209, ../sass/payments.scss */
.password-dialog .password-info-warp .password-info-item input {
  display: block;
  width: 1.06667rem;
  height: 1.06667rem;
  text-align: center;
  line-height: 1.06667rem;
}
/* line 216, ../sass/payments.scss */
.password-dialog .password-info-warp .password-info-item:first-child {
  border-left: 1px solid #e1e1e1;
}
