/* line 4, ../sass/aftersale.scss */
.aftersale-list .order-status-done .orders-item-state {
  color: #000;
}
/* line 9, ../sass/aftersale.scss */
.aftersale-list .order-status-been .orders-item-state {
  color: #ff317a;
}
/* line 14, ../sass/aftersale.scss */
.aftersale-list .order-status-error .orders-item-state {
  color: #ff317a;
}

/* line 22, ../sass/aftersale.scss */
.aftersale-apply input[type='checkbox'],
.aftersale-apply input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

/* line 30, ../sass/aftersale.scss */
.aftersale-apply-list .well {
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
/* line 35, ../sass/aftersale.scss */
.aftersale-apply-list .aftersale-apply-main {
  padding: 0.4rem 0;
}

/* line 40, ../sass/aftersale.scss */
.aftersale-apply-shoplist .aftersale-apply-main {
  margin: 0 -0.4rem;
  padding-bottom: 0;
  padding-top: 0.13333rem;
}
/* line 45, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item {
  position: relative;
  margin-right: 0.26667rem;
  margin-left: 0.13333rem;
  padding: 0;
  border-bottom: 1px solid #e1e1e1;
}
/* line 54, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item:last-child {
  border-width: 0;
}
/* line 57, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item::after {
  content: '';
  position: absolute;
  display: block;
  width: 0.66667rem;
  height: 4px;
  background-color: #fff;
  bottom: -2px;
}
/* line 66, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item .goods-item-main {
  height: 2.98667rem;
  padding-top: 0.42667rem;
  padding-bottom: 0.42667rem;
}
/* line 71, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item .goods-item-bottom {
  height: 0.8rem;
}
/* line 74, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item .goods-item-price {
  font-weight: normal;
  margin-top: 0.26667rem;
}
/* line 78, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item .goods-item-img {
  width: 2.13333rem;
}
/* line 81, ../sass/aftersale.scss */
.aftersale-apply-shoplist .goods-item .goods-item-domain {
  right: 0;
  bottom: 0;
}

/* line 89, ../sass/aftersale.scss */
.aftersale-apply-desc textarea {
  height: 1.86667rem;
  padding: 0.26667rem 1em;
}
/* line 353, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .aftersale-apply-desc textarea {
  border: 2px;
}

/* line 95, ../sass/aftersale.scss */
.aftersale-apply-uploadimgs {
  padding-bottom: 0.4rem;
}
/* line 97, ../sass/aftersale.scss */
.aftersale-apply-uploadimgs .upload-imgs-list {
  padding: 0;
  margin-bottom: 0.26667rem;
}
/* line 100, ../sass/aftersale.scss */
.aftersale-apply-uploadimgs .upload-imgs-list .upload-imgs-item {
  width: 1.84rem;
  height: 1.84rem;
  color: inherit;
}
/* line 353, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .aftersale-apply-uploadimgs .upload-imgs-list .upload-imgs-item {
  border: 2px;
}
/* line 106, ../sass/aftersale.scss */
.aftersale-apply-uploadimgs .upload-imgs-list .upload-imgs-item .upload-desc {
  top: 40%;
}
/* line 108, ../sass/aftersale.scss */
.aftersale-apply-uploadimgs .upload-imgs-list .upload-imgs-item .upload-desc::before {
  font-size: 1.33333rem;
  margin-bottom: 0.13333rem;
}
/* line 115, ../sass/aftersale.scss */
.aftersale-apply-uploadimgs .aftersale-apply-main {
  padding-bottom: 0;
}

/* line 122, ../sass/aftersale.scss */
.aftersale-progress-wrapper .well {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
/* line 125, ../sass/aftersale.scss */
.aftersale-progress-wrapper .well .header {
  height: 1.06667rem;
  line-height: 1.06667rem;
}
/* line 127, ../sass/aftersale.scss */
.aftersale-progress-wrapper .well .header + .main {
  padding-top: 0;
}
/* line 131, ../sass/aftersale.scss */
.aftersale-progress-wrapper .well .main {
  padding: 0.33333rem 0;
  line-height: 1.4;
}
/* line 136, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status {
  font-size: 1.09em;
}
/* line 138, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status .iconfont {
  width: 1.2em;
  height: 1.2em;
  line-height: 1.3em;
  margin-right: 0.13333rem;
  border-radius: 50%;
  color: #fff;
}
/* line 147, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status.been .iconfont {
  background-color: #ff317a;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 150, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status.been .iconfont::before {
  content: "\e60b";
  font-family: "iconfont";
}
/* line 156, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status.done .iconfont {
  background-color: #00ceb8;
}
/* line 158, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status.done .iconfont::before {
  content: "\e641";
  font-family: "iconfont";
}
/* line 163, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status .main {
  font-size: 1.54em;
  padding-bottom: 1.06667rem;
  color: #333a49;
  text-align: center;
}
/* line 164, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-status .main > * {
  vertical-align: middle;
}
/* line 174, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-shop .-col-key {
  font-size: 1.09em;
}
/* line 177, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-shop .-col-content {
  margin-right: 0.53333rem;
}
/* line 180, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-shop .-col-right {
  font-size: 1.25em;
  color: #333333;
  width: 0.93333rem;
  height: 1.2em;
  line-height: 1.2em;
  padding-left: 0.4rem;
  border-left: 1px solid #e1e1e1;
}
/* line 187, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-shop .-col-right .iconfont {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 192, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-progress {
  font-size: 1.09em;
}
/* line 194, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-progress .header {
  border-bottom: 1px solid #e1e1e1;
}
/* line 197, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-progress .main {
  padding: 0;
}
/* line 202, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-desc .main, .aftersale-progress-wrapper .aftersale-message .main {
  font-size: .92em;
}
/* line 208, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-code .code-wrapper .split-line {
  margin-left: -0.16rem;
  margin-right: -0.16rem;
  font-size: 1em;
}
/* line 213, ../sass/aftersale.scss */
.aftersale-progress-wrapper .aftersale-code .code-wrapper .code-domain {
  font-size: 1.17em;
  padding-bottom: 0.4rem;
  font-weight: bold;
}
