/* line 2, ../sass/passport.scss */
.passport-wrapper {
  position: relative;
  padding: 0 0.13333rem;
  font-size: 13px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .passport-wrapper {
  font-size: 26px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .passport-wrapper {
  font-size: 39px;
}
/* line 6, ../sass/passport.scss */
.passport-wrapper .well {
  margin-left: 0;
  margin-right: 0;
}
/* line 10, ../sass/passport.scss */
.passport-wrapper .form-group-title {
  margin: 0.4rem 0;
  padding-left: 0.4rem;
}
/* line 13, ../sass/passport.scss */
.passport-wrapper .form-group-title + .form-group-wrapper {
  margin-top: 0.4rem;
}
/* line 17, ../sass/passport.scss */
.passport-wrapper .form-tab {
  margin-top: 0.53333rem;
}
/* line 19, ../sass/passport.scss */
.passport-wrapper .form-tab + .form-group-wrapper {
  margin-top: 0;
}
/* line 23, ../sass/passport.scss */
.passport-wrapper .form-wrapper {
  border-top: 1px solid transparent;
}
/* line 26, ../sass/passport.scss */
.passport-wrapper .form-group-wrapper {
  font-size: 15px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .passport-wrapper .form-group-wrapper {
  font-size: 30px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .passport-wrapper .form-group-wrapper {
  font-size: 45px;
}
/* line 28, ../sass/passport.scss */
.passport-wrapper .form-group-wrapper .btn-image {
  width: 6.5em;
}
/* line 31, ../sass/passport.scss */
.passport-wrapper .form-group-wrapper .input-like {
  padding-left: 0.13333rem;
}
/* line 34, ../sass/passport.scss */
.passport-wrapper .form-group-wrapper .iconfont-eye,
.passport-wrapper .form-group-wrapper .iconfont-eye-slash {
  font-size: 1.4em;
}
/* line 38, ../sass/passport.scss */
.passport-wrapper .form-group-wrapper + .form-group-title {
  margin-top: -0.13333rem;
}

/* line 43, ../sass/passport.scss */
.form-tab {
  padding-left: 0.26667rem;
  font-weight: bold;
}
/* line 46, ../sass/passport.scss */
.form-tab .btn {
  width: 2.66667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  border-radius: 0.06667rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0.13333rem;
  -moz-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
}
/* line 53, ../sass/passport.scss */
.form-tab .btn-default {
  color: #999;
  background-color: #ddd;
  border-color: transparent;
}
/* line 55, ../sass/passport.scss */
.form-tab .btn-default.on {
  color: #333a49;
  background-color: #fff;
  -moz-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
}

/* line 62, ../sass/passport.scss */
.passport-register .checkbox {
  color: #666;
}
/* line 64, ../sass/passport.scss */
.passport-register .checkbox a {
  color: #333;
}

/* line 69, ../sass/passport.scss */
.passport-feedback {
  position: fixed;
  margin-top: -1.09333rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  left: 0.4rem;
  right: 0.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  border-bottom-right-radius: 0.13333rem;
  border-bottom-left-radius: 0.13333rem;
  z-index: 1;
  -moz-transition: margin-top, 0.5s, ease-in;
  -o-transition: margin-top, 0.5s, ease-in;
  -webkit-transition: margin-top, 0.5s, ease-in;
  transition: margin-top, 0.5s, ease-in;
  opacity: 0;
}
/* line 84, ../sass/passport.scss */
.passport-feedback.show {
  margin-top: 0;
  opacity: 1;
}

/* line 89, ../sass/passport.scss */
.passport-links {
  margin-top: 0.66667rem;
  margin-bottom: 4.4rem;
  font-size: 15px;
}
/* line 92, ../sass/passport.scss */
.passport-links div:only-child {
  font-size: 12px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .passport-links div:only-child {
  font-size: 24px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .passport-links div:only-child {
  font-size: 36px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .passport-links {
  font-size: 30px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .passport-links {
  font-size: 45px;
}
/* line 96, ../sass/passport.scss */
.passport-links .btn-link {
  padding-top: 0.13333rem;
  padding-bottom: 0.13333rem;
}

/* line 102, ../sass/passport.scss */
.realname-auth-wrapper .upload-imgs-list {
  margin: 0.4rem 0;
}
/* line 105, ../sass/passport.scss */
.realname-auth-wrapper .upload-imgs-item {
  width: 4.42667rem;
  height: 2.90667rem;
  background-color: #f5f5f5;
  border: 2px dashed #d8d8d8;
  border-width: 1px;
}
/* line 153, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .realname-auth-wrapper .upload-imgs-item {
  border-width: 2px;
}
/* line 160, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .realname-auth-wrapper .upload-imgs-item {
  border-width: 3px;
}
