/* line 6, ../../sass/oecstore/_btn-group.scss */
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 10, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn {
  position: relative;
  float: left;
}
/* line 14, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn-link:not(:last-child) {
  border-right: 1px solid currentColor;
}

/* line 19, ../../sass/oecstore/_btn-group.scss */
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

/* line 26, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

/* line 29, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn:first-child {
  margin-left: 0;
}
/* line 31, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 36, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 40, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn-group {
  float: left;
}

/* line 43, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

/* line 47, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 52, ../../sass/oecstore/_btn-group.scss */
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 56, ../../sass/oecstore/_btn-group.scss */
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
/* line 61, ../../sass/oecstore/_btn-group.scss */
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
/* line 67, ../../sass/oecstore/_btn-group.scss */
.btn-group-justified > .btn-group .btn {
  width: 100%;
}
/* line 70, ../../sass/oecstore/_btn-group.scss */
.btn-group-justified > .btn-link:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

/* line 7, ../../sass/oecstore/buttons.scss */
.btn {
  display: inline-block;
  font-weight: inherit;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  font-size: inherit;
  border-radius: 0.06667rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 26, ../../sass/oecstore/buttons.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  color: #fff;
  background-color: #bbb;
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 35, ../../sass/oecstore/buttons.scss */
.btn .iconfont {
  margin-right: .3em;
}
/* line 37, ../../sass/oecstore/buttons.scss */
.btn .iconfont.fr, .btn .iconfont.f-r {
  float: right;
  margin-right: 0;
  margin-left: .3em;
}
/* line 43, ../../sass/oecstore/buttons.scss */
.btn .iconfont:only-child {
  margin: 0;
}
/* line 47, ../../sass/oecstore/buttons.scss */
.btn > * {
  vertical-align: middle;
}

/* line 53, ../../sass/oecstore/buttons.scss */
a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

/* line 59, ../../sass/oecstore/buttons.scss */
.label {
  display: inline-block;
  font-weight: inherit;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: inherit;
  border-radius: 0.04rem;
}

/* line 67, ../../sass/oecstore/buttons.scss */
.btn-default,
.label-default {
  color: #fff;
  background-color: #bbb;
  border-color: #e1e1e1;
}

/* line 71, ../../sass/oecstore/buttons.scss */
.btn-primary-light,
.label-primary-light {
  color: #fff;
  background-color: #ff317a;
  border-color: #ff317a;
}

/* line 75, ../../sass/oecstore/buttons.scss */
.btn-primary-dark,
.label-primary-dark {
  color: #fff;
  background-color: #333a49;
  border-color: #333a49;
}

/* line 80, ../../sass/oecstore/buttons.scss */
.btn-success,
.label-success {
  color: #fff;
  background-color: #00ceb8;
  border-color: #00ceb8;
}

/* line 85, ../../sass/oecstore/buttons.scss */
.btn-info,
.label-info {
  color: #fff;
  background-color: #14b2f6;
  border-color: #14b2f6;
}

/* line 90, ../../sass/oecstore/buttons.scss */
.btn-warning,
.label-warning {
  color: #fff;
  background-color: #ef7b2e;
  border-color: #ef7b2e;
}

/* line 95, ../../sass/oecstore/buttons.scss */
.btn-danger,
.label-danger {
  color: #fff;
  background-color: #ff317a;
  border-color: #ff317a;
}

/* line 102, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-default, .btn-outline.btn-default {
  color: #333;
  background-color: transparent;
  border-color: #e1e1e1;
}
/* line 106, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-primary-light, .btn-outline.btn-primary-light {
  color: #ff317a;
  background-color: transparent;
  border-color: #ff317a;
}
/* line 110, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-primary-dark, .btn-outline.btn-primary-dark {
  color: #333a49;
  background-color: transparent;
  border-color: #333a49;
}
/* line 115, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-success, .btn-outline.btn-success {
  color: #00ceb8;
  background-color: transparent;
  border-color: #00ceb8;
}
/* line 120, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-info, .btn-outline.btn-info {
  color: #14b2f6;
  background-color: transparent;
  border-color: #14b2f6;
}
/* line 125, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-warning, .btn-outline.btn-warning {
  color: #ef7b2e;
  background-color: transparent;
  border-color: #ef7b2e;
}
/* line 130, ../../sass/oecstore/buttons.scss */
.btn-outline .btn-danger, .btn-outline.btn-danger {
  color: #ff317a;
  background-color: transparent;
  border-color: #ff317a;
}

/* line 137, ../../sass/oecstore/buttons.scss */
.label-outline .label-default, .label-outline.label-default {
  color: #333;
  background-color: transparent;
  border-color: #e1e1e1;
}
/* line 141, ../../sass/oecstore/buttons.scss */
.label-outline .label-primary-light, .label-outline.label-primary-light {
  color: #ff317a;
  background-color: transparent;
  border-color: #ff317a;
}
/* line 145, ../../sass/oecstore/buttons.scss */
.label-outline .label-primary-dark, .label-outline.label-primary-dark {
  color: #333a49;
  background-color: transparent;
  border-color: #333a49;
}
/* line 150, ../../sass/oecstore/buttons.scss */
.label-outline .label-success, .label-outline.label-success {
  color: #00ceb8;
  background-color: transparent;
  border-color: #00ceb8;
}
/* line 155, ../../sass/oecstore/buttons.scss */
.label-outline .label-info, .label-outline.label-info {
  color: #14b2f6;
  background-color: transparent;
  border-color: #14b2f6;
}
/* line 160, ../../sass/oecstore/buttons.scss */
.label-outline .label-warning, .label-outline.label-warning {
  color: #ef7b2e;
  background-color: transparent;
  border-color: #ef7b2e;
}
/* line 165, ../../sass/oecstore/buttons.scss */
.label-outline .label-danger, .label-outline.label-danger {
  color: #ff317a;
  background-color: transparent;
  border-color: #ff317a;
}

/* line 175, ../../sass/oecstore/buttons.scss */
.btn-link {
  color: inherit;
  font-weight: normal;
  border-radius: 0;
  border: none;
}
/* line 181, ../../sass/oecstore/buttons.scss */
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 195, ../../sass/oecstore/buttons.scss */
.btn-link:hover, .btn-link:focus {
  color: #333a49;
  text-decoration: none;
  background-color: transparent;
}
/* line 203, ../../sass/oecstore/buttons.scss */
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #999;
  text-decoration: none;
}

/* line 210, ../../sass/oecstore/buttons.scss */
.btn-image {
  padding: 0;
  overflow: hidden;
}
/* line 213, ../../sass/oecstore/buttons.scss */
.btn-image img {
  width: 100%;
  height: 100%;
}

/* line 221, ../../sass/oecstore/buttons.scss */
.btn-block {
  display: block;
  width: 100%;
}

/* line 227, ../../sass/oecstore/buttons.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 236, ../../sass/oecstore/buttons.scss */
button[type="submit"].btn-block,
button[type="reset"].btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block {
  height: 1.33333rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0.04rem;
}
/* line 99, ../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] button[type="submit"].btn-block, [data-dpr="2"]
button[type="reset"].btn-block, [data-dpr="2"]
input[type="submit"].btn-block, [data-dpr="2"]
input[type="reset"].btn-block {
  font-size: 40px;
}
/* line 102, ../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] button[type="submit"].btn-block, [data-dpr="3"]
button[type="reset"].btn-block, [data-dpr="3"]
input[type="submit"].btn-block, [data-dpr="3"]
input[type="reset"].btn-block {
  font-size: 60px;
}
/* line 241, ../../sass/oecstore/buttons.scss */
button[type="submit"].btn-block.disabled, button[type="submit"].btn-block[disabled],
button[type="reset"].btn-block.disabled,
button[type="reset"].btn-block[disabled],
input[type="submit"].btn-block.disabled,
input[type="submit"].btn-block[disabled],
input[type="reset"].btn-block.disabled,
input[type="reset"].btn-block[disabled] {
  background: #bbb;
  border-color: #bbb;
  color: #fff;
  opacity: 1;
}

/* line 82, ../../sass/oecstore/mixins/_buttons.scss */
.wrapper-test .btn {
  border-bottom-left-radius: 0.7em;
  border-top-left-radius: 0.7em;
}

/* line 253, ../../sass/oecstore/buttons.scss */
.border-top-radius {
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
}

/* line 256, ../../sass/oecstore/buttons.scss */
.border-bottom-radius {
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

/* line 259, ../../sass/oecstore/buttons.scss */
.border-left-radius {
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
}

/* line 262, ../../sass/oecstore/buttons.scss */
.border-right-radius {
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
}
