/* line 4, ../../sass/oecstore/component.scss */
.bottom-nav-bar {
  height: 100%;
  border-top: 1px solid #e1e1e1;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
/* line 8, ../../sass/oecstore/component.scss */
.bottom-nav-bar li {
  height: 100%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
/* line 11, ../../sass/oecstore/component.scss */
.bottom-nav-bar li .iconfont {
  padding-top: 0.18667rem;
  padding-bottom: 0.13333rem;
  font-size: 0.61333rem;
}
/* line 16, ../../sass/oecstore/component.scss */
.bottom-nav-bar li > p {
  font-size: 0.26667rem;
}
/* line 21, ../../sass/oecstore/component.scss */
.bottom-nav-bar li.empty .iconfont-shopcart::before {
  content: "\e600";
  font-family: "iconfont";
}
/* line 28, ../../sass/oecstore/component.scss */
.bottom-nav-bar li.act .iconfont-user::before {
  content: "\e605";
  font-family: "iconfont";
}
/* line 33, ../../sass/oecstore/component.scss */
.bottom-nav-bar li.act .iconfont-home::before {
  content: "\e603";
  font-family: "iconfont";
}
/* line 38, ../../sass/oecstore/component.scss */
.bottom-nav-bar li.act .iconfont-category::before {
  content: "\e607";
  font-family: "iconfont";
}
/* line 43, ../../sass/oecstore/component.scss */
.bottom-nav-bar li.act .iconfont-shopcart::before {
  content: "\e609";
  font-family: "iconfont";
}
/* line 49, ../../sass/oecstore/component.scss */
.bottom-nav-bar li.act.empty .iconfont-shopcart::before {
  content: "\e601";
  font-family: "iconfont";
}

/* line 57, ../../sass/oecstore/component.scss */
.goods-brief-wrapper {
  margin: 0.26667rem 0.13333rem;
}
/* line 64, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .line-text {
  font-size: 1.25em;
  margin-bottom: 0.06667rem;
  color: #666;
  font-weight: bold;
}
/* line 71, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list .goods-brief-item {
  width: 4.8rem;
  padding: 0.4rem 0.4rem 0.26667rem 0.4rem;
}
/* line 77, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list .goods-brief-item:nth-child(2n+2) {
  margin-right: 0;
}
/* line 80, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list .goods-brief-item .item-img {
  width: 4rem;
  height: 4rem;
  margin: 0 auto 0.13333rem;
  background-color: #e4e4e4;
}
/* line 91, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item {
  width: 3.14667rem;
  padding: 0.24rem;
  text-align: center;
}
/* line 95, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item:nth-child(2n+2) {
  margin-right: 0.13333rem;
}
/* line 98, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item:nth-child(3n+3) {
  margin-right: 0;
}
/* line 101, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item .item-img {
  width: 2.66667rem;
  height: 2.66667rem;
  margin: 0 auto 0.4rem;
  background-color: #e4e4e4;
}
/* line 107, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item .item-title {
  font-size: .84em;
  margin-bottom: 0.08rem;
  height: 1.2em;
  line-height: 1.2;
  -webkit-line-clamp: 1;
}
/* line 114, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item .item-price {
  font-size: 1em;
  line-height: 1;
}
/* line 118, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-list.column-3 .goods-brief-item .item-note {
  display: none;
}
/* line 125, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-item {
  float: left;
  margin-right: 0.13333rem;
  margin-bottom: 0.13333rem;
  background-color: #fff;
  -moz-border-radius: 0.04rem;
  -webkit-border-radius: 0.04rem;
  border-radius: 0.04rem;
  -webkit-box-shadow: 0 0.01333rem 0.06667rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.01333rem 0.06667rem 0 rgba(0, 0, 0, 0.15);
}
/* line 133, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-item .item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-bottom: 0.21333rem;
  line-height: 1.25;
  height: 2em;
}
/* line 139, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-item .item-price {
  font-size: 1.25em;
  color: #ff317a;
  font-weight: bold;
  line-height: 0.4rem;
}
/* line 145, ../../sass/oecstore/component.scss */
.goods-brief-wrapper .goods-brief-item .item-note {
  float: right;
  color: #999;
  font-size: .917em;
  line-height: 0.4rem;
}

/* line 153, ../../sass/oecstore/component.scss */
.dialog.dialog-confirm {
  width: 7.2rem;
  height: 3.46667rem;
  font-size: 1.417em;
  border-radius: 0.13333rem;
  text-align: center;
}
/* line 159, ../../sass/oecstore/component.scss */
.dialog.dialog-confirm .dialog-confirm-main {
  height: 2.22667rem;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.26667rem;
  overflow: hidden;
}
/* line 168, ../../sass/oecstore/component.scss */
.dialog.dialog-confirm .dialog-confirm-bottom {
  border-top: 1px solid #cdcdcd;
}
/* line 171, ../../sass/oecstore/component.scss */
.dialog.dialog-confirm .btn {
  height: 1.24rem;
  line-height: 1.24rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  color: #007aff;
  border-color: #cdcdcd;
  border-top-width: 0;
  border-bottom-width: 0;
}

/* line 180, ../../sass/oecstore/component.scss */
.goods-list-horizontal {
  padding-top: 0.26667rem;
  padding-bottom: 0.4rem;
}
/* line 183, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
/* line 189, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item {
  display: inline-block;
  vertical-align: bottom;
  width: 2.4rem;
  text-align: center;
}
/* line 194, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item:not(:first-child) {
  margin-left: -.416em;
}
/* line 198, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item-img {
  position: relative;
  height: 2.4rem;
  border: 1px solid #e1e1e1;
  margin-bottom: 0.16rem;
}
/* line 203, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
/* line 209, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item-label {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 .4em 0 .6em;
  height: 0.42667rem;
  border-width: 0;
  line-height: 0.42667rem;
  font-size: 0.91667em;
}
/* line 219, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item-price .mprice {
  font-size: 1.167em;
  color: #ff317a;
}
/* line 223, ../../sass/oecstore/component.scss */
.goods-list-horizontal .goods-item-price .sprice {
  font-size: .75em;
  margin-left: 0.08rem;
  color: #999999;
  text-decoration: line-through;
}

/* line 232, ../../sass/oecstore/component.scss */
.dialog-share {
  width: 7.33333rem;
  height: auto;
  -moz-border-radius: 0.13333rem;
  -webkit-border-radius: 0.13333rem;
  border-radius: 0.13333rem;
}
/* line 236, ../../sass/oecstore/component.scss */
.dialog-share .close {
  color: #cdcdcd;
  right: 0;
  padding: 0.10667rem;
}
/* line 242, ../../sass/oecstore/component.scss */
.dialog-share .line-text span {
  background-color: #fff;
  padding: 0 1em;
}
/* line 247, ../../sass/oecstore/component.scss */
.dialog-share .share-qrcode-wrapper {
  width: 6.13333rem;
  margin: 0.66667rem auto;
  border: 1px solid #e1e1e1;
  text-align: center;
}
/* line 252, ../../sass/oecstore/component.scss */
.dialog-share .share-qrcode-wrapper .note {
  line-height: 1.5;
  margin-bottom: 0.26667rem;
}
/* line 257, ../../sass/oecstore/component.scss */
.dialog-share .share-qrcode {
  width: 4.66667rem;
  height: 4.66667rem;
  margin: 0.4rem auto;
}
/* line 262, ../../sass/oecstore/component.scss */
.dialog-share .share-list-wrapper {
  margin-left: 0.36rem;
  margin-right: 0.36rem;
  margin-bottom: 1rem;
  text-align: center;
}
/* line 269, ../../sass/oecstore/component.scss */
.dialog-share .share-item img {
  width: 1.33333rem;
  height: 1.33333rem;
}
/* line 273, ../../sass/oecstore/component.scss */
.dialog-share .share-item .share-item-desc {
  margin-top: 0.33333rem;
}

/* line 278, ../../sass/oecstore/component.scss */
.normal-list {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
/* line 282, ../../sass/oecstore/component.scss */
.normal-list a:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 286, ../../sass/oecstore/component.scss */
.normal-list .flex-row-between {
  height: 1.2rem;
  line-height: 1.2rem;
}
/* line 288, ../../sass/oecstore/component.scss */
.normal-list .flex-row-between .-col-left {
  width: 10em;
  font-size: 1.25em;
}
/* line 292, ../../sass/oecstore/component.scss */
.normal-list .flex-row-between .-col-content {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 296, ../../sass/oecstore/component.scss */
.normal-list .flex-row-between .-col-right {
  font-size: 1.2em;
  width: 0.53333rem;
  text-align: right;
  color: #bbb;
}
/* line 302, ../../sass/oecstore/component.scss */
.normal-list .flex-row-between:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

/* line 307, ../../sass/oecstore/component.scss */
.upload-imgs-list {
  overflow: hidden;
  padding: 0.26667rem;
  color: #ddd;
}
/* line 311, ../../sass/oecstore/component.scss */
.upload-imgs-list input[type='file'] {
  display: none;
}
/* line 314, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item {
  width: 2.13333rem;
  height: 2.13333rem;
  float: left;
  margin-right: 0.26667rem;
  color: #999;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 0.04rem;
}
/* line 323, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
/* line 331, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
/* line 335, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item .upload-desc {
  position: absolute;
  top: 45%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 339, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item .upload-desc::before {
  content: '+';
  display: block;
  font-size: 2.5em;
  margin-bottom: 0.26667rem;
  font-weight: lighter;
}
/* line 347, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item .upload-img-preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
/* line 355, ../../sass/oecstore/component.scss */
.upload-imgs-list .upload-imgs-item:last-child {
  margin-right: 0;
}
/* line 361, ../../sass/oecstore/component.scss */
.upload-imgs-list .full-width .upload-desc,
.upload-imgs-list .full-height .upload-desc {
  display: none;
}
/* line 366, ../../sass/oecstore/component.scss */
.upload-imgs-list .full-height img {
  width: auto;
  height: 100%;
}

/* line 372, ../../sass/oecstore/component.scss */
.upload-imgs-info {
  color: #999;
}

/* line 375, ../../sass/oecstore/component.scss */
.hashlist {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
/* line 379, ../../sass/oecstore/component.scss */
.hashlist .flex-row-between {
  line-height: 0.50667rem;
  padding-top: 0.26667rem;
  padding-bottom: 0.26667rem;
}
/* line 383, ../../sass/oecstore/component.scss */
.hashlist .flex-row-between:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 387, ../../sass/oecstore/component.scss */
.hashlist .-col-left {
  margin-left: 0.33333rem;
  margin-right: 0.66667rem;
}
/* line 391, ../../sass/oecstore/component.scss */
.hashlist .-col-content {
  flex-basis: 0;
}
/* line 394, ../../sass/oecstore/component.scss */
.hashlist .-col-right {
  margin-left: 0.13333rem;
  color: #999;
}
/* line 397, ../../sass/oecstore/component.scss */
.hashlist .-col-right .iconfont {
  margin-left: .5em;
}
/* line 401, ../../sass/oecstore/component.scss */
.hashlist .iconfont-location-arrow {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  font-size: 1.4em;
  color: #666;
}
/* line 407, ../../sass/oecstore/component.scss */
.hashlist .flex-row-between:first-child:before {
  content: '';
  display: block;
  width: 0.13333rem;
  height: 0.13333rem;
  background-color: #ff317a;
  border-radius: 50%;
  margin-right: -0.13333rem;
}

/* line 422, ../../sass/oecstore/component.scss */
.orders-list .orders-item.orders-store .orders-item-tip-shop {
  display: none;
}
/* line 425, ../../sass/oecstore/component.scss */
.orders-list .orders-item.orders-store .orders-item-tip-store {
  display: inline-block;
}
/* line 430, ../../sass/oecstore/component.scss */
.orders-list .orders-item.orders-shop .orders-item-tip-shop {
  display: inline-block;
}
/* line 433, ../../sass/oecstore/component.scss */
.orders-list .orders-item.orders-shop .orders-item-tip-store {
  display: none;
}
/* line 439, ../../sass/oecstore/component.scss */
.orders-list .order-status-done .orders-item-state {
  color: #999;
}
/* line 444, ../../sass/oecstore/component.scss */
.orders-list .order-status-been .orders-item-state {
  color: #000;
}
/* line 449, ../../sass/oecstore/component.scss */
.orders-list .order-status-error .orders-item-state {
  color: #ff317a;
}
/* line 453, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header {
  height: 1.06667rem;
  line-height: 1.06667rem;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
}
/* line 457, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .-col-content {
  color: #444;
}
/* line 459, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .-col-content > * {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: .4em;
}
/* line 463, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .-col-content .iconfont {
  top: -1px;
  font-size: 1.1em;
}
/* line 468, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .-col-right {
  margin-left: .5em;
}
/* line 470, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .-col-right > span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 475, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .orders-item-tip > span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: .2em;
  height: 0.37333rem;
  width: 0.82667rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 484, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .orders-item-tip .orders-item-tip-shop {
  background-image: url("../../../images/myorders-shop.png");
}
/* line 487, ../../sass/oecstore/component.scss */
.orders-list .orders-item-header .orders-item-tip .orders-item-tip-store {
  background-image: url("../../../images/myorders-store.png");
}
/* line 492, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content {
  height: 2.66667rem;
  padding-top: 0.26667rem;
  padding-bottom: 0.26667rem;
  padding-left: 0.26667rem;
  padding-right: 0.13333rem;
  background-color: #f8f8f8;
}
/* line 500, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content img {
  width: 100%;
  vertical-align: bottom;
}
/* line 504, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-img {
  width: 2.13333rem;
  height: 2.13333rem;
  line-height: 2.13333rem;
  overflow: hidden;
  border-radius: 0.04rem;
}
/* line 510, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .-col-content {
  padding-left: 0.26667rem;
  padding-right: 0.13333rem;
  height: 2.13333rem;
}
/* line 515, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .-cloumn-bottom {
  line-height: 1.06667rem;
}
/* line 517, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .-cloumn-bottom > span {
  margin-right: 0.4rem;
}
/* line 521, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-title {
  font-size: 1.09em;
  line-height: 0.49333rem;
}
/* line 526, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-count::before {
  content: 'x';
}
/* line 530, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-imgs-list {
  overflow: hidden;
}
/* line 532, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-imgs-list .orders-item-img {
  float: left;
  text-align: center;
}
/* line 535, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-imgs-list .orders-item-img:not(:last-child) {
  margin-right: 0.26667rem;
}
/* line 539, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-imgs-list .orders-item-img-more {
  font-size: 1.83em;
  color: #999999;
}
/* line 542, ../../sass/oecstore/component.scss */
.orders-list .orders-item-content .orders-item-imgs-list .orders-item-img-more .iconfont {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  right: .25em;
}
/* line 549, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers {
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
}
/* line 552, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers > div {
  padding-top: 0.26667rem;
  padding-bottom: 0.26667rem;
}
/* line 555, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers > div:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 559, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .btn {
  width: 1.81333rem;
  height: 0.53333rem;
  line-height: 0.53333rem;
  padding: 0;
  margin-left: 0.16rem;
}
/* line 564, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .btn:last-child {
  margin-left: 0;
}
/* line 568, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .-col-content {
  margin-right: 0.13333rem;
}
/* line 570, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .-col-content > span {
  margin-right: 0.26667rem;
}
/* line 572, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .-col-content > span:last-child {
  margin: 0;
}
/* line 577, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .orders-item-others {
  line-height: 0.4rem;
}
/* line 579, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .orders-item-others > div {
  margin-bottom: 0.2rem;
}
/* line 581, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .orders-item-others > div:last-child {
  margin-bottom: 0;
}
/* line 587, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .orders-item-shopinfo .-col-content {
  margin-right: 0.53333rem;
}
/* line 590, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .orders-item-shopinfo .-col-right {
  font-size: 1.25em;
  color: #333333;
  width: 0.93333rem;
  height: 1.2em;
  line-height: 1.2em;
  padding-left: 0.4rem;
  border-left: 1px solid #e1e1e1;
}
/* line 597, ../../sass/oecstore/component.scss */
.orders-list .orders-item-footers .orders-item-shopinfo .-col-right .iconfont {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 640px) {
  /* line 608, ../../sass/oecstore/component.scss */
  [data-dpr="2"] .orders-item-footers .-col-content > span {
    display: block;
    margin-right: 0;
    margin-bottom: 0.13333rem;
  }
}
/* line 621, ../../sass/oecstore/component.scss */
input[type='checkbox']:checked + label .btn-mode,
input[type='radio']:checked + label .btn-mode {
  color: #ff317a;
  background-color: transparent;
  border-color: #ff317a;
}
/* line 623, ../../sass/oecstore/component.scss */
input[type='checkbox']:checked + label .btn-mode > .iconfont,
input[type='radio']:checked + label .btn-mode > .iconfont {
  color: #ff317a;
}

/* line 629, ../../sass/oecstore/component.scss */
.btn.btn-mode {
  color: #999;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  padding: .3em 0 .3em 1em;
  margin-right: 0.30667rem;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
}
/* line 634, ../../sass/oecstore/component.scss */
.btn.btn-mode > .iconfont {
  margin-left: .75em;
  margin-right: .5em;
  font-size: .8em;
  color: transparent;
}
/* line 641, ../../sass/oecstore/component.scss */
.btn.btn-mode.on {
  color: #ff317a;
  background-color: transparent;
  border-color: #ff317a;
}
/* line 643, ../../sass/oecstore/component.scss */
.btn.btn-mode.on > .iconfont {
  color: #ff317a;
}

/* line 649, ../../sass/oecstore/component.scss */
.code-wrapper {
  padding-top: 0.29333rem;
  border-top: 1px solid transparent;
  text-align: center;
}
/* line 654, ../../sass/oecstore/component.scss */
.code-wrapper .split-line {
  color: #999;
  position: relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: .92em;
}
/* line 49, ../../sass/oecstore/mixins/_tools.scss */
.code-wrapper .split-line span {
  display: inline-block;
  position: relative;
  width: 4rem;
  bottom: .5em;
  background: #fff;
}
/* line 61, ../../sass/oecstore/mixins/_tools.scss */
.code-wrapper .split-line::before {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(0deg, #e1e1e1 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(0deg, #e1e1e1 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(90deg, #e1e1e1 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  background-size: 1em 1px;
  background-position: bottom;
}
/* line 353, ../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .code-wrapper .split-line::before {
  height: 2px;
}
/* line 71, ../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .code-wrapper .split-line::before {
  background-size: 1em 2px;
}
/* line 659, ../../sass/oecstore/component.scss */
.code-wrapper .code-barcode-wrapper, .code-wrapper .code-qrcode-wrapper {
  margin: 0.33333rem 0 0.46667rem;
}
/* line 663, ../../sass/oecstore/component.scss */
.code-wrapper .code-barcode-wrapper img {
  width: 7.2rem;
}
/* line 668, ../../sass/oecstore/component.scss */
.code-wrapper .code-qrcode-wrapper img {
  width: 3.65333rem;
}
/* line 672, ../../sass/oecstore/component.scss */
.code-wrapper .code-domain {
  padding-bottom: 0.33333rem;
  font-size: 1.09em;
  color: #ff317a;
}
/* line 676, ../../sass/oecstore/component.scss */
.code-wrapper .code-domain .iconfont {
  font-size: .85em;
  margin-left: .3em;
}
/* line 681, ../../sass/oecstore/component.scss */
.code-wrapper .code-info {
  padding-bottom: 0.33333rem;
}
/* line 683, ../../sass/oecstore/component.scss */
.code-wrapper .code-info > p:not(:last-child) {
  margin-bottom: .5em;
}

/* line 690, ../../sass/oecstore/component.scss */
.progress-list {
  position: relative;
  margin-left: 0.4rem;
}
/* line 698, ../../sass/oecstore/component.scss */
.progress-list::after {
  content: '';
  width: 2px;
  display: block;
  position: absolute;
  top: 0.74667rem;
  bottom: 0.48rem;
  background: #d4d4d4;
}
/* line 353, ../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .progress-list::after {
  width: 3px;
}
/* line 707, ../../sass/oecstore/component.scss */
.progress-list .progress-item {
  margin-left: 0.66667rem;
  padding: 0.4rem 0;
}
/* line 710, ../../sass/oecstore/component.scss */
.progress-list .progress-item:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 715, ../../sass/oecstore/component.scss */
.progress-list .progress-item:first-child .progress-item-wrapper::after {
  content: '';
  width: 2px;
  display: block;
  position: absolute;
  left: -0.66667rem;
  z-index: 1;
  background: #f00;
  top: .8em;
  bottom: .25em;
}
/* line 353, ../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .progress-list .progress-item:first-child .progress-item-wrapper::after {
  width: 3px;
}
/* line 729, ../../sass/oecstore/component.scss */
.progress-list .progress-item:first-child .info::after {
  width: 0.24rem;
  height: 0.24rem;
  background: #ff317a;
  left: -0.77333rem;
  box-shadow: 0 0 0 0.05333rem rgba(255, 49, 122, 0.2);
}
/* line 734, ../../sass/oecstore/component.scss */
[data-dpr="1"] .progress-list .progress-item:first-child .info::after {
  left: -0.74667rem;
}
/* line 741, ../../sass/oecstore/component.scss */
.progress-list .progress-item .progress-item-wrapper {
  position: relative;
}
/* line 743, ../../sass/oecstore/component.scss */
.progress-list .progress-item .progress-item-wrapper > * {
  margin-bottom: 0.13333rem;
}
/* line 745, ../../sass/oecstore/component.scss */
.progress-list .progress-item .progress-item-wrapper > *:last-child {
  margin-bottom: 0;
}
/* line 751, ../../sass/oecstore/component.scss */
.progress-list .progress-item .info::after {
  content: "";
  width: 0.21333rem;
  height: 0.21333rem;
  background: #d4d4d4;
  position: absolute;
  left: -0.76rem;
  top: .35em;
  z-index: 2;
  border-radius: 50%;
}
/* line 758, ../../sass/oecstore/component.scss */
[data-dpr="1"] .progress-list .progress-item .info::after {
  left: -0.73333rem;
}
/* line 766, ../../sass/oecstore/component.scss */
.progress-list .progress-item .date {
  font-size: .923em;
}

/* line 771, ../../sass/oecstore/component.scss */
.scores-wrapper {
  position: relative;
  font-size: 1.09em;
}
/* line 774, ../../sass/oecstore/component.scss */
.scores-wrapper > [class|="scores"] {
  display: inline-block;
  vertical-align: middle;
}
/* line 778, ../../sass/oecstore/component.scss */
.scores-wrapper [class*="stars"] {
  width: 6em;
  height: 1.4em;
  line-height: 1.4em;
  color: #fabd3d;
  font-size: 1.05em;
}
/* line 784, ../../sass/oecstore/component.scss */
.scores-wrapper [class*="stars"] .iconfont {
  width: 1.2em;
  height: 100%;
}
/* line 789, ../../sass/oecstore/component.scss */
.scores-wrapper .scores-stars {
  position: absolute;
  left: 0;
}
/* line 793, ../../sass/oecstore/component.scss */
.scores-wrapper .scores-star-wrapper {
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
/* line 798, ../../sass/oecstore/component.scss */
.scores-wrapper .scores-value [class|="scores"] {
  vertical-align: middle;
}
/* line 801, ../../sass/oecstore/component.scss */
.scores-wrapper .scores-value > .scores-decimal {
  position: relative;
  top: -.12em;
  font-size: .7em;
}
/* line 808, ../../sass/oecstore/component.scss */
.scores-wrapper.scores-0 .scores-star-wrapper {
  width: 0;
}
/* line 813, ../../sass/oecstore/component.scss */
.scores-wrapper.scores-1 .scores-star-wrapper {
  width: 20%;
}
/* line 818, ../../sass/oecstore/component.scss */
.scores-wrapper.scores-2 .scores-star-wrapper {
  width: 40%;
}
/* line 823, ../../sass/oecstore/component.scss */
.scores-wrapper.scores-3 .scores-star-wrapper {
  width: 60%;
}
/* line 828, ../../sass/oecstore/component.scss */
.scores-wrapper.scores-4 .scores-star-wrapper {
  width: 80%;
}
/* line 833, ../../sass/oecstore/component.scss */
.scores-wrapper.scores-5 .scores-star-wrapper {
  width: 100%;
}

/* line 838, ../../sass/oecstore/component.scss */
.bottom-nav-tooltip {
  position: absolute;
  top: -0.8rem;
  left: 0;
  right: 0;
  height: 0.8rem;
  line-height: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #ccc;
  color: #fff;
  transition: top .5s;
}

/* line 850, ../../sass/oecstore/component.scss */
.consulting {
  bottom: 2.57333rem;
}
