/* line 2, ../../sass/oecstore/form.scss */
.form-group-wrapper {
  margin-top: 0.53333rem;
  margin-bottom: 0.53333rem;
  padding-right: 0.26667rem;
  padding-left: 0.26667rem;
  border-radius: 0.05333rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
}
/* line 10, ../../sass/oecstore/form.scss */
.form-group-wrapper + .checkbox-form {
  margin-top: -0.13333rem;
  margin-bottom: 0.4rem;
  padding-left: 0.4rem;
}

/* line 16, ../../sass/oecstore/form.scss */
.form-group {
  position: relative;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
  background-color: #fff;
}
/* line 17, ../../sass/oecstore/mixins/_form.scss */
.form-group:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 21, ../../sass/oecstore/mixins/_form.scss */
.form-group:not(:last-child)::before, .form-group:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  width: 0.32rem;
  height: 0.32rem;
  bottom: -0.16rem;
}
/* line 29, ../../sass/oecstore/mixins/_form.scss */
.form-group:not(:last-child)::before {
  left: -0.42667rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAAAAADFHGIkAAAAj0lEQVQoz43S2w7DIAgA0P7/ZzbRTUTwUutbN9dml6Ak45ETEcGlvmPL6fETyydfMqsQkPdDQi8VA9yNrQOUxME7swYJXSKhs5d84aQcCW7rJuA6RWDNIeG8idyrAQldIrowgd42AcyB/RRqYVQBtVJRu3xX2vXaA5sykqQMMY1j72nENi4qM+c2Xe1fv+QJH5wozy1XRjgAAAAASUVORK5CYII=') no-repeat;
  background-size: contain;
}
/* line 34, ../../sass/oecstore/mixins/_form.scss */
.form-group:not(:last-child)::after {
  right: -0.42667rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAAAAADFHGIkAAAAjklEQVR4AY2SRQKAIBAA/f8v7VqaXU622DnHGUow6HYobXHhEIQ29hxaEgA3AbO0rJm8LMWi0W8TpjD5rAQuB38MNsqrk55Cm2YVV5M+BszK0R/0FHgJcvLnUFVcT/4SavEQQBi8C/AU5NNS9LR5Wz8ct3P3Hzig7q9kKjeXOOHg5tonWqfF9aEW5J+/pAdTYyjTXQwjlwAAAABJRU5ErkJggg==') no-repeat;
  background-size: contain;
}
/* line 41, ../../sass/oecstore/mixins/_form.scss */
.form-group > .form-group-title {
  overflow: hidden;
  white-space: nowrap;
  width: 5em;
  margin-right: 0.2rem;
}
/* line 48, ../../sass/oecstore/mixins/_form.scss */
.form-group .form-group-domain > .iconfont {
  height: 0.93333rem;
  line-height: 0.93333rem;
  padding-left: .4em;
  padding-right: .4em;
  font-size: 1.2em;
  vertical-align: middle;
  color: #bbb;
}
/* line 56, ../../sass/oecstore/mixins/_form.scss */
.form-group .form-group-domain > .btn {
  position: relative;
  height: 0.93333rem;
  line-height: 0.93333rem;
  margin: 0 .2em;
  padding-bottom: 0;
  padding-top: 0;
  top: -0.33333rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 67, ../../sass/oecstore/mixins/_form.scss */
.form-group-stretch {
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding-top: 0.59467rem;
}
/* line 71, ../../sass/oecstore/mixins/_form.scss */
.form-group-stretch .form-group-domain > .iconfont {
  height: 0.65333rem;
  line-height: 1;
}
/* line 22, ../../sass/oecstore/form.scss */
.form-group .input-group {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
/* line 86, ../../sass/oecstore/mixins/_form.scss */
.form-group .input-group > .iconfont {
  position: absolute;
  left: 0;
  top: .08em;
  height: 0.93333rem;
  line-height: 0.93333rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 93, ../../sass/oecstore/mixins/_form.scss */
.form-group .input-group > .iconfont + .input-group-control {
  padding-left: 2em;
}
/* line 97, ../../sass/oecstore/mixins/_form.scss */
.form-group .input-group .input-group-control {
  height: 0.93333rem;
  line-height: 0.93333rem;
  padding-top: 0.13333rem;
  padding-bottom: 0.13333rem;
  color: inherit;
}
/* line 105, ../../sass/oecstore/mixins/_form.scss */
.form-group .input-group .input-group-control + .iconfont {
  left: auto;
  right: 0;
}
/* line 110, ../../sass/oecstore/mixins/_form.scss */
.form-group .input-group textarea {
  height: 2rem;
}
/* line 112, ../../sass/oecstore/mixins/_form.scss */
.form-group .input-group textarea.input-group-control {
  max-height: 2em;
  line-height: 1em;
  padding: 0;
  margin-top: -.1em;
  border-width: 0;
  overflow: hidden;
}

/* line 27, ../../sass/oecstore/form.scss */
.search-group {
  position: relative;
  height: 0.93333rem;
  line-height: 0.93333rem;
  color: #333a49;
  text-align: left;
}
/* line 86, ../../sass/oecstore/mixins/_form.scss */
.search-group > .iconfont {
  position: absolute;
  left: 0;
  top: .08em;
  height: inherit;
  line-height: inherit;
  padding-left: 0.62em;
  padding-right: 0.62em;
}
/* line 93, ../../sass/oecstore/mixins/_form.scss */
.search-group > .iconfont + .input-group-control {
  padding-left: 2.24em;
}
/* line 97, ../../sass/oecstore/mixins/_form.scss */
.search-group .input-group-control {
  height: inherit;
  line-height: inherit;
  padding-top: 0.13333rem;
  padding-bottom: 0.13333rem;
  padding-right: 2.24em;
  color: inherit;
}
/* line 105, ../../sass/oecstore/mixins/_form.scss */
.search-group .input-group-control + .iconfont {
  left: auto;
  right: 0;
}
/* line 110, ../../sass/oecstore/mixins/_form.scss */
.search-group textarea {
  height: 2rem;
}
/* line 112, ../../sass/oecstore/mixins/_form.scss */
.search-group textarea.input-group-control {
  max-height: 2em;
  line-height: 1em;
  padding: 0;
  margin-top: -.1em;
  border-width: 0;
  overflow: hidden;
}
/* line 33, ../../sass/oecstore/form.scss */
.search-group .iconfont {
  color: #90949b;
}
/* line 36, ../../sass/oecstore/form.scss */
.search-group .input-group-control {
  border: 1px solid #e8e8e8;
  border-radius: 0.06667rem;
  background-color: #eee;
}
/* line 103, ../../sass/oecstore/mixins/_prefixes.scss */
.search-group .input-group-control::-moz-placeholder {
  color: #90949b;
  opacity: 1;
}
/* line 107, ../../sass/oecstore/mixins/_prefixes.scss */
.search-group .input-group-control:-ms-input-placeholder {
  color: #90949b;
}
/* line 108, ../../sass/oecstore/mixins/_prefixes.scss */
.search-group .input-group-control::-webkit-input-placeholder {
  color: #90949b;
}
/* line 41, ../../sass/oecstore/form.scss */
.search-group .input-group-control + .iconfont {
  font-size: 1.2em;
  color: #bbb;
}
