/* line 8, ../../sass/oecstore/groundGlass.scss */
.groundGlass {
  filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(10px);
  filter: blur(10px);
  /* Chrome, Opera */
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=$ground-glass-num, MakeShadow=false);
  /* IE6~IE9 */
}
