<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面布局</title>
    <link rel="stylesheet" href="../../stylesheets/oEcstore.css">
    <link rel="stylesheet" href="layout_test.css">
</head>
<body>
<div class="layout-page both-layout-page">
    <div class="top-nav text-center">
        <div class="layout-title">
            <div class="title-left">左浮动<i class="iconfont iconfont-user-solid"></i></div>
            <div class="title-content">中间自适应</div>
            <div class="title-right"><i class="iconfont iconfont-list-grid"></i> 右浮动</div>
        </div>
    </div>
    <div class="layout-content text-center">
        <div class="row">
            <div class="-col-12">
                <div class="flex-cloumn-between">
                    <div class="-cloumn-top">
                        <div class="flex-row-between flex-center">
                            <div class="-col-left">左自适应</div>
                            <div class="-col-content">中间全部填充满</div>
                            <div class="-col-right">右边自适应</div>
                        </div>
                    </div>
                    <div class="-cloumn-content">内容</div>
                    <div class="-cloumn-bottom">
                        <div class="row">
                            <div class="-col-6">-col-6</div>
                            <div class="-col-6">-col-6</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="-col-12">-col-12</div>
        </div>
        <div class="row">
            <div class="-col-6">-col-6</div>
            <div class="-col-6">-col-6</div>
        </div>
        <div class="row">
            <div class="-col-4">-col-4</div>
            <div class="-col-4">-col-4</div>
            <div class="-col-4">-col-4</div>
        </div>
        <div class="row">
            <div class="-col-3">-col-3</div>
            <div class="-col-3">-col-3</div>
            <div class="-col-3">-col-3</div>
            <div class="-col-3">-col-3</div>
        </div>
        <div class="row">
            <dov class="-col-2">-col-2</dov>
            <dov class="-col-2">-col-2</dov>
            <dov class="-col-2">-col-2</dov>
            <dov class="-col-2">-col-2</dov>
            <dov class="-col-2">-col-2</dov>
            <dov class="-col-2">-col-2</dov>
        </div>
        <div class="row">
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
            <dov class="-col-1">-col-1</dov>
        </div>
    </div>
    <div class="bottom-nav text-center">
    <ul>
        <li><i class="iconfont iconfont-home"></i><div>首页</div></li>
        <li><i class="iconfont iconfont-category"></i><div>全部分类</div></li>
        <li><i class="iconfont iconfont-shopcart"></i><div>购物车</div></li>
        <li><i class="iconfont iconfont-user"></i><div>个人中心</div></li>
    </ul>
    </div>
</div>
<script src="../lib/flexible.js"></script>
</body>
</html>