html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* == reset.css == */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #eff7d9; }

a {
  text-decoration: none; }

.css-table {
  width: 1000px;
  margin: 20px auto;
  background-color: #eff7d9; }
  .css-table table, .css-table tbody, .css-table thead {
    display: block; }
  .css-table table {
    border-top: 2px solid #4c6501; }
  .css-table tr {
    display: flex; }
    .css-table tr td, .css-table tr th {
      flex: 1;
      text-align: center;
      padding: 10px;
      border-right: 1px solid #4c6501;
      border-bottom: 1px solid #4c6501; }
      .css-table tr td:last-child, .css-table tr th:last-child {
        border-right: 0; }
