@charset "UTF-8";
/* ----------------------------- 预存款 -------------------------------*/
/* line 5, ../sass/balance.scss */
.balance-header {
  padding: 0.4rem 0.26667rem;
  height: 4.4rem;
}

/* line 9, ../sass/balance.scss */
.balance-header-inner {
  height: 100%;
  padding: 0.53333rem 0.53333rem 0.93333rem 0.53333rem;
  background-color: #fff;
  border-radius: 10px;
}
/* line 14, ../sass/balance.scss */
.balance-header-inner .balance-header-brief {
  position: relative;
  font-size: 1.25em;
  margin-right: 0.26667rem;
  overflow: hidden;
}
/* line 19, ../sass/balance.scss */
.balance-header-inner .balance-header-brief .balance-value {
  position: absolute;
  bottom: -.1em;
  font-size: 3.33em;
  font-weight: bold;
}
/* line 25, ../sass/balance.scss */
.balance-header-inner .balance-header-brief .unit {
  margin-left: .5em;
  font-size: .33em;
}

/* line 31, ../sass/balance.scss */
.balance-header-side {
  position: relative;
  text-align: right;
  width: 2.48rem;
}
/* line 36, ../sass/balance.scss */
.balance-header-side .balance-header-desc .iconfont {
  top: 2px;
  margin-right: .2em;
  font-size: 1.2em;
}
/* line 42, ../sass/balance.scss */
.balance-header-side .balance-header-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 48, ../sass/balance.scss */
.balance-header-side .btn {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  width: 100%;
}
/* line 52, ../sass/balance.scss */
.balance-header-side .btn .iconfont {
  top: -1px;
  font-size: 1.6em;
  margin-right: 0.2rem;
}

/* line 60, ../sass/balance.scss */
.balance-wrapper .balance-empty {
  margin-top: 3.26667rem;
  font-size: 0.36rem;
}
/* line 5, ../../../sass/oecstore/mixins/_empty-style.scss */
.balance-wrapper .balance-empty .empty-info::before {
  height: 2.53333rem;
  background: url("../../../images/member/balance-empty.png") no-repeat center;
  background-size: contain;
}
/* line 66, ../sass/balance.scss */
.balance-wrapper .empty-info:before {
  content: "";
  width: 2.22667rem;
  height: 2.53333rem;
  margin: 0 auto;
  margin-bottom: 0.76rem;
}

/* line 75, ../sass/balance.scss */
.balance-detail-wrapper {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 1.17em;
}
/* line 79, ../sass/balance.scss */
.balance-detail-wrapper .balance-detail-header {
  padding: 0.4rem 0;
  line-height: 1.1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 83, ../sass/balance.scss */
.balance-detail-wrapper .balance-detail-header .-col-right {
  color: #666;
}

/* line 89, ../sass/balance.scss */
.balance-detail-list .balance-detail-title {
  margin-bottom: 0.13333rem;
}
/* line 92, ../sass/balance.scss */
.balance-detail-list .balance-detail-date {
  font-size: .86em;
  color: #999;
}
/* line 96, ../sass/balance.scss */
.balance-detail-list .flex-row-between {
  padding: 0.4rem 0;
  line-height: 1.1;
}
/* line 99, ../sass/balance.scss */
.balance-detail-list .flex-row-between:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 104, ../sass/balance.scss */
.balance-detail-list .balance-detail-add .-col-right {
  color: #14b2f6;
}
/* line 108, ../sass/balance.scss */
.balance-detail-list .-col-right {
  width: 4em;
  font-size: 1.07em;
  text-align: right;
}

/* line 115, ../sass/balance.scss */
.balance-note-wrapper .balance-note-item {
  padding: 0 0.4rem;
}
/* line 118, ../sass/balance.scss */
.balance-note-wrapper .balance-note-header {
  height: 1.2rem;
  line-height: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.17em;
  font-weight: bold;
}
/* line 125, ../sass/balance.scss */
.balance-note-wrapper .balance-note-main {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-indent: 1em;
  line-height: 1.4;
}

/*--------------------- 充值 ---------------------*/
/* line 136, ../sass/balance.scss */
.deposit-wrapper.well {
  background-color: transparent;
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}
/* line 140, ../sass/balance.scss */
.deposit-wrapper .form-group-wrapper {
  margin: 0.26667rem 0;
  padding: 0;
}
/* line 143, ../sass/balance.scss */
.deposit-wrapper .form-group-wrapper .form-group {
  padding: 0.2rem 0;
}
/* line 145, ../sass/balance.scss */
.deposit-wrapper .form-group-wrapper .form-group .iconfont {
  font-size: 1.5em;
  padding-left: 0;
  padding-right: 0.8em;
}
/* line 151, ../sass/balance.scss */
.deposit-wrapper .form-group-wrapper .input-group-control {
  padding: 0;
  text-indent: 0.41333rem;
  font-size: 0.4rem;
  line-height: 1;
}

/* line 159, ../sass/balance.scss */
.deposit-way {
  font-size: 1.08em;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: #fff;
  -moz-box-shadow: 0 0.02667rem 0.13333rem -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.02667rem 0.13333rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.13333rem -1px rgba(0, 0, 0, 0.15);
}
/* line 165, ../sass/balance.scss */
.deposit-way .deposit-main {
  border-top: 1px solid #e1e1e1;
}
/* line 168, ../sass/balance.scss */
.deposit-way .deposit-header {
  height: 1.10667rem;
  font-size: 0.33333rem;
  line-height: 1.10667rem;
}
/* line 172, ../sass/balance.scss */
.deposit-way .deposit-header [class*="price"] {
  color: #333;
}
/* line 175, ../sass/balance.scss */
.deposit-way .deposit-header .-col-content {
  font-weight: normal;
}

/* line 181, ../sass/balance.scss */
.deposit-way-item .-col-content {
  position: relative;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  height: 1.33333rem;
}
/* line 188, ../sass/balance.scss */
.deposit-way-item:not(:last-child) .-col-content {
  border-bottom: 1px solid #e1e1e1;
}
/* line 192, ../sass/balance.scss */
.deposit-way-item .deposit-way-side {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .77em;
  margin-top: 0.46667rem;
}
/* line 199, ../sass/balance.scss */
.deposit-way-item .deposit-way-img,
.deposit-way-item .deposit-way-info {
  display: inline-block;
  vertical-align: middle;
  height: 0.93333rem;
  line-height: 1.3;
}
/* line 206, ../sass/balance.scss */
.deposit-way-item .deposit-way-img {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.21333rem;
  border-radius: 0.08rem;
  overflow: hidden;
}
/* line 212, ../sass/balance.scss */
.deposit-way-item .deposit-way-img img {
  width: 100%;
}
/* line 216, ../sass/balance.scss */
.deposit-way-item .deposit-way-title {
  font-size: 1.16em;
}
/* line 219, ../sass/balance.scss */
.deposit-way-item .deposit-way-tip {
  color: #999;
  font-size: .9em;
}
/* line 223, ../sass/balance.scss */
.deposit-way-item .checkbox {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.53333rem;
}

/* line 230, ../sass/balance.scss */
.deposit-submit {
  margin-top: 0.41333rem;
  -moz-box-shadow: 0 0.02667rem 0.13333rem -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.02667rem 0.13333rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.13333rem -1px rgba(0, 0, 0, 0.15);
}
/* line 233, ../sass/balance.scss */
.deposit-submit .btn-block {
  height: 1.33333rem;
  padding: 0;
  font-size: 0.53333rem;
  line-height: 1.33333rem;
  border-radius: 0.04rem;
}

/* ------------------- dialog 基础样式 ------------------- */
/* line 246, ../sass/balance.scss */
.deposit-dialog.show .mask {
  display: block;
}
/* line 249, ../sass/balance.scss */
.deposit-dialog.show .dialog {
  visibility: inherit;
  opacity: 1;
  top: 3.46667rem;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 255, ../sass/balance.scss */
.deposit-dialog.show .dialog-bottom {
  visibility: inherit;
}
/* line 259, ../sass/balance.scss */
.deposit-dialog .mask {
  display: none;
}

/* line 264, ../sass/balance.scss */
.deposit-dialog .close {
  top: 0.2rem;
  right: 0.2rem;
  font-size: 2.5em;
}
/* line 269, ../sass/balance.scss */
.deposit-dialog .dialog-info {
  position: relative;
  width: inherit;
  height: inherit;
  padding-top: 0.85333rem;
}
/* line 276, ../sass/balance.scss */
.deposit-dialog .dialog-content .error-title {
  font-size: 0.32rem;
  text-align: center;
}
/* line 280, ../sass/balance.scss */
.deposit-dialog .dialog-content .depositinfo {
  margin-top: 0.6rem;
  font-size: 0.32rem;
  text-indent: 1.26667rem;
  line-height: 0.4rem;
}
/* line 285, ../sass/balance.scss */
.deposit-dialog .dialog-content .depositinfo .deposit-money {
  padding-left: 0.29333rem;
}
/* line 290, ../sass/balance.scss */
.deposit-dialog .dialog-head {
  margin-bottom: 0.93333rem;
}
/* line 292, ../sass/balance.scss */
.deposit-dialog .dialog-head .mark-title {
  margin-top: 0.26667rem;
  text-align: center;
  font-size: 0.4rem;
}
/* line 297, ../sass/balance.scss */
.deposit-dialog .dialog-head .dialog-mark {
  margin: 0 auto;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
/* line 304, ../sass/balance.scss */
.deposit-dialog .dialog-bottom {
  position: absolute;
  height: 1.01333rem;
  bottom: 0;
}
/* line 308, ../sass/balance.scss */
.deposit-dialog .dialog-bottom .btn {
  padding: 0;
  margin: 0;
  line-height: 1.04rem;
  font-size: 0.4rem;
  border: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 317, ../sass/balance.scss */
.deposit-dialog .btn,
.deposit-dialog .iconfont-circle-check,
.deposit-dialog .iconfont-circle-alarm,
.deposit-dialog .success-title,
.deposit-dialog .lost-title,
.deposit-dialog .title-success,
.deposit-dialog .title-error,
.deposit-dialog .info-success,
.deposit-dialog .info-error {
  display: none;
}

/* line 330, ../sass/balance.scss */
.deposit-dialog .dialog {
  width: 5.93333rem;
  height: 7.02667rem;
  border-radius: 0.4rem;
  overflow: hidden;
  /* -------------------- 充值成功 -------------------- */
  /* -------------------- 充值失败 -------------------- */
}
/* line 338, ../sass/balance.scss */
.deposit-dialog .dialog.success .dialog-head .iconfont {
  color: #00ceb8;
}
/* line 342, ../sass/balance.scss */
.deposit-dialog .dialog.success .iconfont-circle-check,
.deposit-dialog .dialog.success .success-title,
.deposit-dialog .dialog.success .title-success,
.deposit-dialog .dialog.success .info-success,
.deposit-dialog .dialog.success .btn-success {
  display: block;
}
/* line 352, ../sass/balance.scss */
.deposit-dialog .dialog.lose .dialog-bottom {
  bottom: 0;
}
/* line 356, ../sass/balance.scss */
.deposit-dialog .dialog.lose .dialog-head .iconfont {
  color: #ff317a;
}
/* line 360, ../sass/balance.scss */
.deposit-dialog .dialog.lose .iconfont-circle-alarm,
.deposit-dialog .dialog.lose .lost-title,
.deposit-dialog .dialog.lose .title-error,
.deposit-dialog .dialog.lose .info-error,
.deposit-dialog .dialog.lose .btn-primary-light {
  display: block;
}
