@charset "UTF-8";
/* ----------------------------- 积分 -------------------------------*/
/* line 4, ../sass/credit.scss */
.credit-header {
  padding: 0.4rem 0.26667rem;
  height: 4.4rem;
}

/* line 8, ../sass/credit.scss */
.credit-header-inner {
  height: 100%;
  padding: 0.53333rem 0.53333rem 0.93333rem 0.53333rem;
  background-color: #fff;
  border-radius: 10px;
}

/* line 14, ../sass/credit.scss */
.credit-header-brief {
  position: relative;
  font-size: 1.25em;
  margin-right: 0.26667rem;
  overflow: hidden;
}
/* line 19, ../sass/credit.scss */
.credit-header-brief .credit-value {
  position: absolute;
  bottom: -.1em;
  font-size: 3.33em;
  font-weight: bold;
  color: #14b2f6;
}
/* line 26, ../sass/credit.scss */
.credit-header-brief .small {
  font-size: 2.7em;
}
/* line 29, ../sass/credit.scss */
.credit-header-brief .unit {
  margin-left: .5em;
  font-size: .33em;
}

/* line 34, ../sass/credit.scss */
.credit-header-side {
  position: relative;
  text-align: right;
  width: 2.48rem;
}
/* line 39, ../sass/credit.scss */
.credit-header-side .credit-header-desc .iconfont {
  top: 2px;
  margin-right: .2em;
  font-size: 1.2em;
}
/* line 45, ../sass/credit.scss */
.credit-header-side .credit-header-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 51, ../sass/credit.scss */
.credit-header-side .btn {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  width: 100%;
}
/* line 55, ../sass/credit.scss */
.credit-header-side .btn .iconfont {
  top: -1px;
  font-size: 1.6em;
}

/* line 61, ../sass/credit.scss */
.credit-detail-wrapper {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 1.17em;
}

/* line 67, ../sass/credit.scss */
.credit-detail-list .credit-detail-title {
  margin-bottom: 0.13333rem;
}
/* line 70, ../sass/credit.scss */
.credit-detail-list .credit-detail-date {
  font-size: .86em;
  color: #999;
}
/* line 74, ../sass/credit.scss */
.credit-detail-list .flex-row-between {
  padding: 0.4rem 0;
  line-height: 1.1;
}
/* line 77, ../sass/credit.scss */
.credit-detail-list .flex-row-between:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 82, ../sass/credit.scss */
.credit-detail-list .credit-detail-add .-col-right {
  color: #14b2f6;
}
/* line 86, ../sass/credit.scss */
.credit-detail-list .-col-right {
  width: 4em;
  font-size: 1.07em;
  text-align: right;
}

/* line 5, ../../../sass/oecstore/mixins/_empty-style.scss */
.credit-empty .empty-info::before {
  height: 4.66667rem;
  background: url("../../../images/member/credit-empty.png") no-repeat center;
  background-size: contain;
}

/* line 96, ../sass/credit.scss */
.credit-note-wrapper .credit-note-item {
  padding: 0 0.4rem;
}
/* line 99, ../sass/credit.scss */
.credit-note-wrapper .credit-note-header {
  height: 1.2rem;
  line-height: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.17em;
  font-weight: bold;
}
/* line 106, ../sass/credit.scss */
.credit-note-wrapper .credit-note-main {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-indent: 1em;
  line-height: 1.4;
}
