/* line 4, ../sass/footprint.scss */
.timeline {
  position: relative;
  margin-left: 0.45333rem;
}
/* line 8, ../sass/footprint.scss */
.timeline .well {
  margin: 0;
}
/* line 11, ../sass/footprint.scss */
.timeline::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  top: 0.44rem;
  bottom: 0;
  background-color: #ff317a;
}
/* line 20, ../sass/footprint.scss */
.timeline .timeline-item {
  position: relative;
  margin-left: 0.6rem;
}
/* line 24, ../sass/footprint.scss */
.timeline .timeline-item-header {
  position: relative;
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
  font-weight: bold;
  color: #ff317a;
}
/* line 30, ../sass/footprint.scss */
.timeline .timeline-item-header::before {
  content: "\e646";
  font-family: "iconfont";
  left: -0.78667rem;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  position: absolute;
  top: 50%;
  margin-top: -0.2rem;
  background-color: #ff317a;
  color: #f5f5f5;
  text-align: center;
  font-size: 0.41333rem;
  font-weight: normal;
  border-radius: 50%;
  z-index: 10;
}
/* line 47, ../sass/footprint.scss */
.timeline .goods-item {
  position: relative;
  margin-bottom: 0.26667rem;
  margin-right: 0.26667rem;
  padding: 0;
}
/* line 52, ../sass/footprint.scss */
.timeline .goods-item:last-child {
  margin-bottom: 0;
}
/* line 55, ../sass/footprint.scss */
.timeline .goods-item::before {
  content: "\e62d";
  font-family: "iconfont";
  left: -0.72rem;
  display: block;
  width: 0.26667rem;
  height: 0.26667rem;
  line-height: 0.26667rem;
  position: absolute;
  top: 50%;
  margin-top: -0.13333rem;
  background-color: #ff317a;
  color: #f5f5f5;
  text-align: center;
  font-size: 0.26667rem;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 5rem;
  z-index: 10;
}
/* line 70, ../sass/footprint.scss */
[data-dpr="1"] .timeline .goods-item::before {
  left: -0.70667rem;
  width: 10px;
  height: 10px;
  line-height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
/* line 79, ../sass/footprint.scss */
.timeline .goods-item::after {
  content: '';
  display: block;
  position: absolute;
  left: -0.18rem;
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  top: 50%;
  margin-top: -0.18rem;
  background: inherit;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.1);
}
/* line 93, ../sass/footprint.scss */
.timeline .goods-item-main {
  position: relative;
  height: 2.66667rem;
  padding-left: 0.13333rem;
  padding-right: 0.26667rem;
  background: inherit;
  z-index: 10;
}
/* line 100, ../sass/footprint.scss */
.timeline .goods-item-main .goods-item-img {
  width: 2.4rem;
}
/* line 103, ../sass/footprint.scss */
.timeline .goods-item-main .goods-item-top {
  position: relative;
  padding-right: 0.86667rem;
}
/* line 107, ../sass/footprint.scss */
.timeline .goods-item-main .btn-delete {
  position: absolute;
  top: 0;
  right: -0.26667rem;
  font-size: 1.2em;
  color: #999;
}
/* line 114, ../sass/footprint.scss */
.timeline .goods-item-main .goods-item-bottom {
  height: 1.06667rem;
}
/* line 117, ../sass/footprint.scss */
.timeline .goods-item-main .goods-item-price {
  font-weight: normal;
}
/* line 120, ../sass/footprint.scss */
.timeline .goods-item-main .goods-item-domain {
  right: 0;
}
/* line 123, ../sass/footprint.scss */
.timeline .goods-item-main .btn-default {
  padding-top: .23em;
  padding-bottom: .23em;
  border-color: currentColor;
  color: #999;
}
