/* line 4, ../sass/member.scss */
.member .layout-title .title-cog {
  font-size: 1.15em;
  padding-right: 0.4rem;
}

/* line 12, ../sass/member.scss */
.member-wrapper .member-header {
  position: relative;
  background-color: #333a49;
  padding: 0.73333rem 0.53333rem 0.73333rem 0.98667rem;
  overflow: hidden;
}
/* line 17, ../sass/member.scss */
.member-wrapper .member-header::before {
  content: "\e613";
  font-family: "iconfont";
  font-size: 7rem;
  position: absolute;
  left: -2.5rem;
  top: -3rem;
  color: rgba(0, 0, 0, 0.1);
}
/* line 26, ../sass/member.scss */
.member-wrapper .member-header-main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 31, ../sass/member.scss */
.member-wrapper .member-avator, .member-wrapper .member-info {
  float: left;
  height: 2rem;
}
/* line 35, ../sass/member.scss */
.member-wrapper .member-avator {
  width: 2rem;
  background-color: #fff;
  border-radius: 50%;
}
/* line 39, ../sass/member.scss */
.member-wrapper .member-avator img {
  width: 100%;
  height: 100%;
}
/* line 44, ../sass/member.scss */
.member-wrapper .member-info {
  position: relative;
  left: 0.4rem;
  width: 4rem;
}
/* line 51, ../sass/member.scss */
.member-wrapper .member-info .btn {
  position: absolute;
  display: block;
  min-width: 2.13333rem;
  max-width: 3.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  border-radius: 0;
  padding-left: 0.26667rem;
  padding-right: 0.53333rem;
  border: none;
}
/* line 61, ../sass/member.scss */
.member-wrapper .member-info .btn-login {
  top: 0.09333rem;
  color: #fff;
  background-color: #ff317a;
  border-top-right-radius: 0.13333rem;
}
/* line 65, ../sass/member.scss */
.member-wrapper .member-info .btn-login:before {
  content: '';
  position: absolute;
  left: -0.50667rem;
  background: url(../../../images/cutter-btn-up.png) no-repeat;
  background-size: cover;
  width: 0.53333rem;
  height: 100%;
}
/* line 75, ../sass/member.scss */
.member-wrapper .member-info .btn-register, .member-wrapper .member-info .btn-usr {
  bottom: 0.09333rem;
  color: #333a49;
  background-color: #f5eedf;
  border-bottom-right-radius: 0.13333rem;
}
/* line 79, ../sass/member.scss */
.member-wrapper .member-info .btn-register:before, .member-wrapper .member-info .btn-usr:before {
  content: '';
  position: absolute;
  left: -0.53333rem;
  width: 0.56rem;
  height: 100%;
}
/* line 88, ../sass/member.scss */
.member-wrapper .member-info .btn-register:before {
  background: url(../../../images/cutter-btn-down.png) no-repeat;
  background-size: 100% 100%;
}
/* line 93, ../sass/member.scss */
.member-wrapper .member-info .btn-usr {
  left: -0.08rem;
  bottom: .2em;
  padding-left: 0.13333rem;
  padding-right: 0.26667rem;
  font-size: 11px;
  text-align: left;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .member-wrapper .member-info .btn-usr {
  font-size: 22px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .member-wrapper .member-info .btn-usr {
  font-size: 33px;
}
/* line 100, ../sass/member.scss */
.member-wrapper .member-info .btn-usr:before {
  background: url(../../../images/cutter-btn-down-large.png) no-repeat;
  background-size: 100% 100%;
}
/* line 105, ../sass/member.scss */
.member-wrapper .member-info .btn-rank {
  bottom: 0.8rem;
  height: auto;
  line-height: initial;
  padding: 0.06667rem 0.21333rem;
  text-align: left;
  color: #f5eedf;
  font-size: 10px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .member-wrapper .member-info .btn-rank {
  font-size: 20px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .member-wrapper .member-info .btn-rank {
  font-size: 30px;
}
/* line 112, ../sass/member.scss */
.member-wrapper .member-info .btn-rank > * {
  vertical-align: initial;
}
/* line 115, ../sass/member.scss */
.member-wrapper .member-info .btn-rank .iconfont {
  margin-right: 0;
  font-size: 1.5em;
}
/* line 120, ../sass/member.scss */
.member-wrapper .member-info .iconfont-male {
  color: #14b2f6;
}
/* line 123, ../sass/member.scss */
.member-wrapper .member-info .iconfont-female {
  color: #ff317a;
}
/* line 129, ../sass/member.scss */
.member-wrapper .member-domain .btn-signin {
  color: #f5eedf;
  background-color: transparent;
  border-color: #f5eedf;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
}
/* line 133, ../sass/member.scss */
.member-wrapper .member-domain .btn-signin .iconfont {
  font-size: 1.45em;
}
/* line 139, ../sass/member.scss */
.member-wrapper .member-orders .value {
  margin-left: .3em;
  font-size: .8em;
  vertical-align: .1em;
  color: #ff317a;
}

/* line 148, ../sass/member.scss */
.member-overview {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
/* line 151, ../sass/member.scss */
.member-overview .member-overview-offset {
  position: relative;
  top: 0.2rem;
}
/* line 155, ../sass/member.scss */
.member-overview .-col-grow-1 {
  text-align: center;
}
/* line 157, ../sass/member.scss */
.member-overview .-col-grow-1:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

/* line 162, ../sass/member.scss */
.member-overview-value {
  padding-bottom: 0.21333rem;
  font-size: 20px;
  font-weight: bold;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .member-overview-value {
  font-size: 40px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .member-overview-value {
  font-size: 60px;
}
/* line 166, ../sass/member.scss */
.member-overview-value > .member-overview-unit {
  margin-left: .5em;
  font-size: .5em;
}

/* line 172, ../sass/member.scss */
.member-overview-deposit .member-overview-value {
  color: #ff317a;
}

/* line 177, ../sass/member.scss */
.member-overview-vantages .member-overview-value {
  color: #14b2f6;
}

/* line 182, ../sass/member.scss */
.member-overview-coupons .member-overview-value {
  color: #00ceb8;
}

/* line 186, ../sass/member.scss */
.member-list {
  padding: 0 0.4rem;
  font-size: 15px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .member-list {
  font-size: 30px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .member-list {
  font-size: 45px;
}
/* line 192, ../sass/member.scss */
.member-list a:not(:last-child) .member-line {
  border-bottom: 1px solid #e1e1e1;
}
/* line 196, ../sass/member.scss */
.member-list .member-line {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 1rem;
  line-height: 1rem;
}
/* line 201, ../sass/member.scss */
.member-list .member-line .iconfont {
  font-size: 17px;
}
/* line 99, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .member-list .member-line .iconfont {
  font-size: 34px;
}
/* line 102, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .member-list .member-line .iconfont {
  font-size: 51px;
}
/* line 206, ../sass/member.scss */
.member-list .member-stretch {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}
/* line 211, ../sass/member.scss */
.member-list .member-line-info .iconfont {
  margin-right: .5em;
}
/* line 215, ../sass/member.scss */
.member-list .member-line-right {
  color: #999;
  font-size: .8em;
}
/* line 218, ../sass/member.scss */
.member-list .member-line-right > .iconfont {
  margin-left: .3em;
  margin-right: -.2em;
}
/* line 222, ../sass/member.scss */
.member-list .member-line-right > * {
  vertical-align: middle;
}
/* line 226, ../sass/member.scss */
.member-list .btn-group-justified {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* line 229, ../sass/member.scss */
.member-list .btn-group-justified > .btn-link:not(:last-child) {
  border-right-color: #e1e1e1;
}
/* line 233, ../sass/member.scss */
.member-list .btn {
  height: 0.66667rem;
  line-height: 0.66667rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
}
