@charset "UTF-8";
/* ----------------------------- 签到 -------------------------------*/
/* line 5, ../sass/signin.scss */
.signin-wrapper .signin-header {
  padding-top: 0.26667rem;
  padding-bottom: 0.26667rem;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}
/* line 11, ../sass/signin.scss */
.signin-wrapper .signin-header-info {
  height: 2.4rem;
  padding-left: 3.53333rem;
  background: url("../../../images/member/signin-head.png") no-repeat;
  background-size: contain;
  background-position: 0.33333rem center;
  text-align: center;
  font-size: 1.25em;
  overflow: hidden;
  font-weight: bold;
}
/* line 21, ../sass/signin.scss */
.signin-wrapper .signin-header-info .signin-header-action {
  margin-top: 0.4rem;
  margin-bottom: 0.32rem;
}
/* line 25, ../sass/signin.scss */
.signin-wrapper .signin-header-info .signin-header-points {
  font-size: .933em;
}
/* line 28, ../sass/signin.scss */
.signin-wrapper .signin-header-info .btn-signin {
  width: 3.93333rem;
  padding-top: .6em;
  padding-bottom: .6em;
  border-radius: 0.13333rem;
  color: #fff;
  background-color: #fabf48;
  border-color: #fabf48;
}
/* line 34, ../sass/signin.scss */
.signin-wrapper .signin-header-info .btn-signin > .num {
  margin-left: .3em;
  vertical-align: baseline;
}

/* line 41, ../sass/signin.scss */
.dialog.dialog-signin {
  width: 6.33333rem;
  height: 6.26667rem;
  font-size: 1.09em;
  text-align: center;
  background: url("../../../images/member/signin-dialog.png") no-repeat;
  background-size: contain;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 49, ../sass/signin.scss */
.dialog.dialog-signin .close, .dialog.dialog-signin .dialog-signin-title, .dialog.dialog-signin .dialog-signin-info {
  position: absolute;
}
/* line 52, ../sass/signin.scss */
.dialog.dialog-signin .dialog-signin-title, .dialog.dialog-signin .dialog-signin-info {
  left: 0;
  right: 0;
}
/* line 56, ../sass/signin.scss */
.dialog.dialog-signin .close {
  top: -.1em;
  right: 0;
  width: .9rem;
  height: .9rem;
  margin-right: 0.34667rem;
}
/* line 63, ../sass/signin.scss */
.dialog.dialog-signin .dialog-signin-title {
  bottom: 2rem;
  font-size: 1.31em;
  color: #00ceb8;
}
/* line 67, ../sass/signin.scss */
.dialog.dialog-signin .dialog-signin-title > .num {
  margin-left: .2em;
}
/* line 69, ../sass/signin.scss */
.dialog.dialog-signin .dialog-signin-info {
  bottom: 0.44rem;
  height: 1.12rem;
  line-height: 1.12rem;
  color: rgba(255, 255, 255, 0.6);
}

/* line 76, ../sass/signin.scss */
.point-exchange .btn-group-justified {
  padding: 0.26667rem 0 0.2rem;
}
/* line 80, ../sass/signin.scss */
.point-exchange .btn {
  height: 1.66667rem;
}
/* line 82, ../sass/signin.scss */
.point-exchange .btn::before {
  content: '';
  display: inline-block;
  margin-right: 0.26667rem;
  width: 0.93333rem;
  height: 0.93333rem;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 93, ../sass/signin.scss */
.point-exchange .point-exchange-coupon::before {
  background: url("../../../images/member/icon-coupon-2.png") no-repeat;
  background-size: contain;
}
/* line 99, ../sass/signin.scss */
.point-exchange .point-exchange-goods::before {
  background: url("../../../images/member/icon-gift.png") no-repeat;
  background-size: contain;
}
/* line 104, ../sass/signin.scss */
.point-exchange .btn-inner {
  display: inline-block;
  text-align: left;
}
/* line 107, ../sass/signin.scss */
.point-exchange .btn-inner .title {
  font-size: 1.167em;
  line-height: 1.5;
}
/* line 111, ../sass/signin.scss */
.point-exchange .btn-inner .note {
  color: #999;
}
